<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성가능한 후기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/mypage.css}">
</head>
<div>
    <div class="contents_box6">                 
        <div class="product_image"></div>
        <div class="product_info_post">                            
            <div class="product_post_firstline">
                <p>[행복담원] 서귀포 하우스 감귤 500g</p>
            </div>
            <div class="contents_box6_inner">
                <p>500g</p>
                <div class="product_post_line"></div>
                <p>1개</p>
            </div>
            <div class="product_post_lastline">
                <p>배송완료</p>
                <p>2021.07.29</p>
            </div> 
        </div>
        <div class="post_button_box">                            
            <a href="#" class="post_delete_button">삭제</a>
            <input type="button" value="후기작성" class="post_button" onClick="location.href='/mypage_enrollReview'">
        </div>    
    </div>
</body>
</html>