<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용 가능한 쿠폰</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/mypage.css}">
</head>
<body>
    <div class="coupon_list" id="available_coupon_box">
        <div class="coupon_available_image">9000원</div>
        <div class="coupon_info">
            <p>첫 구매감사 9,000원 할인쿠폰</p>
            <p>30,000원 이상 구매 시</p>
            <p>2021.08.16-2021.08.27 23:59</p>
        </div>
    </div>  
</body>
</html>