<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용한 쿠폰</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/mypage.css}">
</head>
<body>
    <div class="coupon_list" id="used_coupon_box1">
        <div class="coupon_used_image">7000원</div>
        <div class="coupon_info">
            <p>[7,000원] 할인쿠폰</p>
            <p>25,000원 이상 구매 시</p>
            <p>2021.08.16-2021.08.25 23:59</p>
        </div>
    </div>
    <div class="coupon_list" id="used_coupon_box2">
        <div class="coupon_used_image">5000원</div>
        <div class="coupon_info">
            <p>첫 구매감사 5,000원 할인쿠폰</p>
            <p>30,000원 이상 구매 시</p>
            <p>2021.08.16-2021.08.27 23:59</p>
        </div>
    </div>     
</body>
</html>