    <html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 | 회원관리</title>
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="/admin/js/Admin_axios/Admin_UE.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<!--content_title 시작-->
<input type="hidden">
<div class="content_title">
    <p>고객센터 <span>회원관리</span></p>
</div>
<!--content_title 끝-->
<!--Uedit 시작-->
<div class="Uedit">
    <!--editForm 시작-->
    <div class="editForm">
        <p class="product_title" id="UE_c1_title"><label>회원정보 수정</label></p>
        <!--form 시작-->
        <form name="edit" action="./Admin_UserList.html">
            <input type="hidden" value="null" id="hiddengender">
            <input type="hidden" value="null">
            <table>
                <tr>
                    <th>이메일</th>
                    <td><input type="email" name="email" id="email"></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td><input type="text" name="edit_text" id="name"></td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td><input type="password" name="password" id="password"></td>
                </tr>
                <tr>
                    <th>생년월일</th>
                    <td>
                        <input type="date" name="date" id="birth">
                    </td>
                </tr>
                <tr>
                    <th>성별</th>
                    <td>
                        <span><input type="radio" name="gender" value="MALE">남자</span>
                        <span><input type="radio" name="gender" value="FEMALE">여자</span>
                    </td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td><input type="tel" name="tel" id="tel" placeholder="010-000*-0000"
                               pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" maxlength="13"></td>
                </tr>
                <tr>
                    <th>더그린배송</th>
                    <td>
                        <span><input type="radio" name="thegreen" value="TRUE" checked
                                     style="width: 14px; height: 14px;"> 이용</span>
                        <span><input type="radio" name="thegreen" value="FALSE" style="width: 14px; height: 14px;"> 이용안함</span>
                    </td>
                </tr>
                <tr>
                    <th>SMS 수신</th>
                    <td>
                        <span><input type="radio" name="sms" value="TRUE" checked style="width: 14px; height: 14px;"> 수신동의</span>
                        <span><input type="radio" name="sms" value="FALSE"
                                     style="width: 14px; height: 14px;"> 수신거부</span>
                        <label>
                            <span class="mail">이메일 수신</span>
                            <span><input type="radio" name="mail" value="TRUE" checked
                                         style="width: 14px; height: 14px;"> 수신동의</span>
                            <span><input type="radio" name="mail" value="FALSE" style="width: 14px; height: 14px;"> 수신거부</span>
                        </label>
                    </td>
                </tr>
            </table>
            <!--editBtn 시작-->
            <div id="editBtn" class="bottom_btn">
                <input type="button" name="back" value="뒤로가기" style="margin-left: -10px;" onclick="UL_location()">
                <input type="button" name="submit" value="저장" onclick="sendit()">
            </div>
            <!--editBtn 끝-->
        </form>
        <!--form 끝-->
    </div>
    <!--editForm 끝-->
</div>
<!--Uedit 끝-->
</body>
</html>