<html
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터 | 공지사항 관리</title>
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script src="/admin/js/checkbox.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<script>
    $(function(){
        let page = $('.page').val();
        axios.get('/api/notice/list?startPage=' + page, {
        }).then(function (response){
            let tb = $('<tbody class="tbody">');
            for(let i in response.data.data) {
                let id = response.data.data[i].idx
                let type  = response.data.data[i].type;
                let title = response.data.data[i].title;
                let regdate = response.data.data[i].regdate;
                let content = response.data.data[i].content;
                let j = parseInt(i) + 1
                regdate = regdate.toString().substring(0, 10);
                content.toString().substring(0, 15);
                content = content + "..."

                switch (type){
                    case 1:
                        type = "일반"
                        break;
                    case 2:
                        type = "이벤트"
                        break;
                    case 3:
                        type = "배송지연"
                        break;
                    case 4:
                        type = "상품"
                        break;
                }

                let row = $('<tr>').append(
                    '<td><input type="checkbox"  id="No_check_'+ j+'" name="notice" onclick="No_checkSelectAll()" value="'+id+'"><label for="No_check_'+ j+'"></label></td>' +
                    '<td>' + j + '</td>' +
                    '<td>'+ title +'</td>' +
                    '<td>' + content + '</td>' +
                    '<td>' + type + '</td>' +
                    '<td>' + regdate + '</td>' +
                    '<td><input type="button" class="detail" value="상세"><input type="hidden" value="'+ id +'"></td></tr>'
                )
                tb.append(row);
            }
            tb.append('</tbody>');
            $('.thead').after(tb);

            $(".detail").click(function (e) {
                $("#ajax_hidden").val($(this).next().val());
                let id = $("#ajax_hidden").val();

                sessionStorage.setItem("notice_idx", id);
                $.ajax({
                    type: 'GET',
                    url: '/admin/NoticeEdit',
                    datatype: 'html/text',
                    success: function (result) {
                        $("#content").html(result).trigger("create");
                    }
                })
            })


            $("#Maxprev").siblings(".page_num").remove();
            for(let i = response.data.pagination.totalPages; i > 0; i--){
                let pages = $('<li class="page_num" id="page_num '+ i +'" value="' + (i - 1) +'">').append(
                    i + '</li>'
                )
                $('#prev').after(pages);
            }

            $('.page_num').click(function(e){
                $('.tbody').empty();
                $('.page').val($(this).val())
                let page = $('.page').val()

                axios.get('/api/notice/list?startPage=' + page, {
                }).then(function (response){
                    let tb = $('<tbody class="tbody">');
                    for(let i in response.data.data) {
                        let id = response.data.data[i].idx
                        let type  = response.data.data[i].type;
                        let title = response.data.data[i].title;
                        let regdate = response.data.data[i].regdate;
                        let content = response.data.data[i].content;
                        let j = parseInt(i) + 1
                        regdate = regdate.toString().substring(0, 10);
                        content.toString().substring(0, 15);
                        content = content + "..."

                        switch (type){
                            case 1:
                                type = "일반"
                                break;
                            case 2:
                                type = "이벤트"
                                break;
                            case 3:
                                type = "배송지연"
                                break;
                            case 4:
                                type = "상품"
                                break;
                        }

                        let row = $('<tr>').append(
                            '<td><input type="checkbox"  id="No_check_'+ j+'" name="notice" onclick="No_checkSelectAll()" value="'+id+'"><label for="No_check_'+ j+'"></label></td>' +
                            '<td>' + j + '</td>' +
                            '<td>'+ title +'</td>' +
                            '<td>' + content + '</td>' +
                            '<td>' + type + '</td>' +
                            '<td>' + regdate + '</td>' +
                            '<td><input type="button" class="detail" value="상세"><input type="hidden" value="'+ id +'"></td></tr>'
                        )
                        tb.append(row);
                    }
                    tb.append('</tbody>');
                    $('.thead').after(tb);

                    $(".detail").click(function (e) {
                        $("#ajax_hidden").val($(this).next().val());
                        let id = $("#ajax_hidden").val();

                        sessionStorage.setItem("notice_idx", id);
                        $.ajax({
                            type: 'GET',
                            url: '/admin/NoticeEdit',
                            datatype: 'html/text',
                            success: function (result) {
                                $("#content").html(result).trigger("create");
                            }
                        })
                    })
                })
            })
        })

        $(function () {
            let now = new Date();
            let now_result = now.toISOString().substring(0, 10);

            document.getElementById("weekbtn").addEventListener("click", function () {
                let week = new Date();
                week.setDate(week.getDate() - 7);
                var week_result = week.toISOString().substring(0, 10);

                document.getElementById("date_start").value = week_result;
                document.getElementById("date_end").value = now_result;
            })

            document.getElementById("monthbtn").addEventListener("click", function () {

                let month = new Date();
                month.setMonth(month.getMonth() - 1);
                var month_result = month.toISOString().substring(0, 10);


                document.getElementById("date_start").value = month_result;
                document.getElementById("date_end").value = now_result;
            })

            document.getElementById("three_monthbtn").addEventListener("click", function () {

                let three_month = new Date();
                three_month.setMonth(three_month.getMonth() - 3);
                var three_month_result = three_month.toISOString().substring(0, 10);


                document.getElementById("date_start").value = three_month_result;
                document.getElementById("date_end").value = now_result;
            })
        })

        $('#schbtn').click(function () {
            $('.tbody').empty();

            let page = $('.page').val();
            let dateStart = $('#date_start').val();
            let dateEnd = $('#date_end').val();
            let type = $('#typeFlag').val();
            let title = $('#title').val();

            let url = '/api/notice/list?startPage=' + page;

            if(dateStart == "" && dateEnd == ""){
                url = url
            }else if(dateStart == "" && dateEnd != ""){
                url = url + '&dateEnd=' + dateEnd;
            }else if(dateStart != "" && dateEnd == ""){
                url =url + '&dateStart=' + dateStart;
            }else if(dateStart != "" && dateEnd != ""){
                url = url + '&dateStart=' + dateStart + '&dateEnd=' + dateEnd;
            }

            if(type == "분류"){
                url = url;
            }else if(type != undefined){
                url = url +'&type=' + type;
            }

            if(title === ""){
                url = url;
            }else if(title !== ""){
                url = url + '&title=' + title;
            }

            console.log(url);

            axios.get(url, {
            }).then(function (response) {
                let tb = $('<tbody class="tbody">');
                for(let i in response.data.data) {
                    let id = response.data.data[i].idx
                    let type  = response.data.data[i].type;
                    let title = response.data.data[i].title;
                    let regdate = response.data.data[i].regdate;
                    let content = response.data.data[i].content;
                    let j = parseInt(i) + 1
                    regdate = regdate.toString().substring(0, 10);
                    content.toString().substring(0, 15);
                    content = content + "..."

                    switch (type){
                        case 1:
                            type = "일반"
                            break;
                        case 2:
                            type = "이벤트"
                            break;
                        case 3:
                            type = "배송지연"
                            break;
                        case 4:
                            type = "상품"
                            break;
                    }

                    let row = $('<tr>').append(
                        '<td><input type="checkbox" id="No_check_'+ j+'" name="notice" onclick="No_checkSelectAll()" value="'+id+'"><label for="No_check_'+ j+'"></label></td>' +
                        '<td>' + j + '</td>' +
                        '<td>'+ title +'</td>' +
                        '<td>' + content + '</td>' +
                        '<td>' + type + '</td>' +
                        '<td>' + regdate + '</td>' +
                        '<td><input type="button" class="detail" value="상세"><input type="hidden" value="'+ id +'"></td></tr>'
                    )
                    tb.append(row);
                }
                tb.append('</tbody>');
                $('.thead').after(tb);

                $("#Maxprev").siblings(".page_num").remove();
                for(let i = response.data.pagination.totalPages; i > 0; i--){
                    let pages = $('<li class="page_num" id="page_num '+ i +'" value="' + (i - 1) +'">').append(
                        i + '</li>'
                    )
                    $('#prev').after(pages);
                }
                $('.page_num').click(function(e){
                    $('.tbody').empty();

                    $('.page').val($(this).val());
                    let page = $('.page').val();
                    let dateStart = $('#date_start').val();
                    let dateEnd = $('#date_end').val();
                    let type = $('#typeFlag').val();
                    let title = $('#title').val();

                    let url = '/api/notice/list?startPage=' + page;

                    if(dateStart == "" && dateEnd == ""){
                        url = url
                    }else if(dateStart == "" && dateEnd != ""){
                        url = url + '&dateEnd=' + dateEnd;
                    }else if(dateStart != "" && dateEnd == ""){
                        url =url + '&dateStart=' + dateStart;
                    }else if(dateStart != "" && dateEnd != ""){
                        url = url + '&dateStart=' + dateStart + '&dateEnd=' + dateEnd;
                    }

                    if(type == "분류"){
                        url = url;
                    }else if(type != undefined){
                        url = url +'&type=' + type;
                    }

                    if(title === ""){
                        url = url;
                    }else if(title !== ""){
                        url = url + '&title=' + title;
                    }

                    axios.get(url, {
                    }).then(function (response){
                        let tb = $('<tbody class="tbody">');
                        for(let i in response.data.data) {
                            let id = response.data.data[i].idx
                            let type  = response.data.data[i].type;
                            let title = response.data.data[i].title;
                            let regdate = response.data.data[i].regdate;
                            let content = response.data.data[i].content;
                            let j = parseInt(i) + 1
                            regdate = regdate.toString().substring(0, 10);
                            content.toString().substring(0, 15);
                            content = content + "..."

                            switch (type){
                                case 1:
                                    type = "일반"
                                    break;
                                case 2:
                                    type = "이벤트"
                                    break;
                                case 3:
                                    type = "배송지연"
                                    break;
                                case 4:
                                    type = "상품"
                                    break;
                            }

                            let row = $('<tr>').append(
                                '<td><input type="checkbox" id="No_check_'+ j+'" name="notice" onclick="No_checkSelectAll()" value="'+id+'"><label for="No_check_'+ j+'"></label></td>' +
                                '<td>' + j + '</td>' +
                                '<td>'+ title +'</td>' +
                                '<td>' + content + '</td>' +
                                '<td>' + type + '</td>' +
                                '<td>' + regdate + '</td>' +
                                '<td><input type="button" class="detail" value="상세"><input type="hidden" value="'+ id +'"></td></tr>'
                            )
                            tb.append(row);
                        }
                        tb.append('</tbody>');
                        $('.thead').after(tb);
                    })
                })

                $(".detail").click(function (e) {
                    $("#ajax_hidden").val($(this).next().val());
                    let id = $("#ajax_hidden").val();

                    sessionStorage.setItem("notice_idx", id);
                    $.ajax({
                        type: 'GET',
                        url: '/admin/NoticeEdit',
                        datatype: 'html/text',
                        success: function (result) {
                            $("#content").html(result).trigger("create");
                        }
                    })
                })
            })
        })
    })

    $(function () {
        //선택삭제
        $('#delbtn').click(function (){
            let id = [];
            ($("input:checkbox[name='notice']:checked").each(function (e){
                id.push($(this).val())
            }));
            id = String(id)
            console.log(id)

            axios.delete("/api/notice/deleteList/" + id,  {
            }).then(function (){
                alert("공지사항 삭제 성공")
                location.reload();
            })
        }).catch(function (err){
            console.log(err)
        })
    })
</script>
<body>
<!--content_title 시작-->
<div class="content_title">
    <p>고객센터<span>공지사항 관리</span></p>
</div>
<!--content_title 끝-->
<!--Notice 시작-->
<div class="Notice">
    <!--No_c1 시작-->
    <div class="No_c1">
        <!--form 시작-->
        <form name="notice_search">
            <p class="product_title" id="No_c1_title"><label>공지사항 조회</label><span style="margin-left: 20px;"><input type="button" name="button" value="공지사항 등록하기" onclick="No_location_1()"></span></p>
            <!--table 시작-->
            <table>
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" name="text" id="title" placeholder="공지사항 제목 입력">
                    </td>
                </tr>
                <tr>
                    <th>분류</th>
                    <td>
                        <select style="width: 155px; padding-left: 10px;" id="typeFlag">
                            <option>분류</option>
                            <option value="1">일반</option>
                            <option value="2">이벤트</option>
                            <option value="3">배송지연</option>
                            <option value="4">상품</option>>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th width="100">기간</th>
                    <td>
                        <input type="date" name="date" value="기간필터" id="date_start"> - <input type="date" name="date" value="기간필터" id="date_end">
                        <span class="datebtn">
                            <input type="button" name="button" value="최근 1주일" id="weekbtn">
                            <input type="hidden" id="week" value="null">
                            <input type="button" name="button" value="최근 1개월" id="monthbtn">
                            <input type="hidden" id="month" value="null">
                            <input type="button" name="button" value="최근 3개월" id="three_monthbtn">
                            <input type="hidden" id="threemonth" value="null">
                        </span>
                    </td>
                </tr>
            </table>
            <!--table 끝-->
            <!--No_c1_btnBox 시작-->
            <div class="bottom_btn" id="No_c1_btnBox">
                <span><input type="reset" name="reset" value="초기화"></span>
                <span><input type="button" name="submit" value="검색" id="schbtn"></span>
            </div>
            <!--No_c1_btnBox 끝-->
        </form>
        <!--form 끝-->
    </div>
    <!--No_c1 끝-->
    <!--No_c2 시작-->
    <div class="No_c2">
        <!--No_c2_title 시작-->
        <div id="No_c2_title" class="green_title">
            <p>공지사항 목록</p>
        </div>
        <!--No_c2_title 끝-->
        <!--form 시작-->
        <form name="notice_list">
                <span>
                    <input type="button" name="button" value="선택삭제" id="delbtn">
                </span>
            <!--table 시작-->
            <table width="100%" class="list_table">
                <thead class="thead">
                <tr>
                    <th width="5%"><input type="checkbox" class="NoticeCheck" id="No_check" name="selectall" onclick="No_selectAll(this)"><label for="No_check"></th>
                    <th width="7%">번호</th>
                    <th width="19%">제목</th>
                    <th width="23%">내용</th>
                    <th width="15%">분류</th>
                    <th width="18%">등록일</th>
                    <th width="13%">상세</th>
                </tr>
                </thead>
            </table>
            <!--table 끝-->
            <!-- pageBox 시작-->
            <div class="pageBox">
                <ul>
                    <li id="Maxprev"><a href="#"><<</a></li>
                    <li id="prev"><</li>
                    <li>></li>
                    <li id="Maxnext"><a href="#">>></a></li>
                </ul>
                <input type="hidden" value="0" class="page">
                <input type="hidden" value="0" class="page_hidden">
                <input type="hidden" id="ajax_hidden">
            </div>
            <!-- pageBox 끝-->
        </form>
        <!--form 끝-->
    </div>
    <!--No_c2 끝-->
</div>
<!--Notice 끝-->
</body>
</html>