<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 상품 관리 | 주문 관리</title>
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script src="/admin/js/checkbox.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<script>
    $(function(){

        let page = $('.page').val()
            axios.get('/api/orderList?page=' + page, {

        }).then(function(response){
            let tb = $('<tbody class="tbody">');
            for(let i in response.data.data){
                let id = response.data.data[i].idx;
                let name = response.data.data[i].name;
                let proList = response.data.data[i].proList;
                let price = response.data.data[i].price;
                let regdate = response.data.data[i].regdate;
                let state = response.data.data[i].state;
                let k = parseInt(i + 6);
                regdate = regdate.toString().substring(0, 10);

                console.log(price)

                if(state == 1){
                    state = '입금완료'
                }else if(state == 2){
                    state = '상품준비중'
                }else if(state == 3){
                    state = '배송준비중'
                }else if(state == 4){
                    state = '배송중'
                }else if(state == 5){
                    state = '배송완료';
                }else if(state == 6){
                    state = '취소'
                }else if(state == 7){
                    state = '반품요청'
                }else if(state == 8){
                    state = '반품'
                }else if(state == 9){
                    state = '환불요청'
                }else if(state == 0) {
                    state = '환불'
                }

                // if(state == "배송완료"){
                //     btn.style.backgroundColor = 'red';
                // }


                if(state == "배송완료") {
                    let row = $('<tr>').append(
                        '<td><input type="checkbox" id="OL_check_' + k + '" name="order" onclick="OL_checkSelectAll()" value="' + id + '"><label for="OL_check_' + k + '"></td>' +
                        '<td>' + name + '</td>' +
                        '<td>' + proList + '</td>' +
                        '<td>' + price + ' 원</td>' +
                        '<td>' + regdate + '</td>' +
                        '<td class="state"><input type="button" class="detail" value="' + state + '" style="background-color: #266266; color: white;"><input type="hidden" value="' + id + '" ></td></tr>'
                    )
                    tb.append(row);
                }else{
                    let row = $('<tr>').append(
                        '<td><input type="checkbox" id="OL_check_' + k + '" name="order" onclick="OL_checkSelectAll()" value="' + id + '"><label for="OL_check_' + k + '"></td>' +
                        '<td>' + name + '</td>' +
                        '<td>' + proList + '</td>' +
                        '<td>' + price + ' 원</td>' +
                        '<td>' + regdate + '</td>' +
                        '<td class="state"><input type="button" class="detail" value="' + state + '"><input type="hidden" value="' + id + '" ></td></tr>'
                    )
                    tb.append(row);
                }
            }
            $('.thead').after(tb);

            $(".detail").click(function (e) {
                $("#ajax_hidden").val($(this).next().val());
                let id = $("#ajax_hidden").val();

                sessionStorage.setItem("idx4", id);
                console.log(id)

                $("#content").empty();
                $.ajax({
                    type: 'GET',
                    url: '/admin/OrderDetail',
                    datatype: 'html/text',
                    success: function (result) {
                        $("#content").html(result).trigger("create");
                    }
                })
            })

            for(let i = response.data.pagination.totalPages; i > 0; i--) {
                let pages = $('<li class="page_num" value="' + (i - 1) + '">').append(
                    i + '</li>'
                )
                $('#prev').after(pages);
            }

                $('.page_num').click(function (e){

                    $('.tbody').empty();

                    $('.page').val($(this).val())
                    let page = $('.page').val()

                    axios.get('/api/orderList?page=' + page, {

                    }).then(function(response) {
                        let tb = $('<tbody class="tbody">');

                        for (let i in response.data.data) {
                            let id = response.data.data[i].idx;
                            let name = response.data.data[i].name;
                            let proList = response.data.data[i].proList;
                            let price = response.data.data[i].price;
                            let state = response.data.data[i].state;
                            let regdate = response.data.data[i].regdate;
                            let k = parseInt(i + 6);

                            regdate = regdate.toString().substring(0, 10);

                            if(state == 1){
                                state = '입금완료'
                            }else if(state == 2){
                                state = '상품준비중'
                            }else if(state == 3){
                                state = '배송준비중'
                            }else if(state == 4){
                                state = '배송중'
                            }else if(state == 5){
                                state = '배송완료'
                            }else if(state == 6){
                                state = '취소'
                            }else if(state == 7){
                                state = '반품요청'
                            }else if(state == 8){
                                state = '반품'
                            }else if(state == 9){
                                state = '환불요청'
                            }else if(state == 0) {
                                state = '환불'
                            }

                            if(state == "배송완료") {
                                let row = $('<tr>').append(
                                    '<td><input type="checkbox" id="OL_check_' + k + '" name="order" onclick="OL_checkSelectAll()" value="' + id + '"><label for="OL_check_' + k + '"></td>' +
                                    '<td>' + name + '</td>' +
                                    '<td>' + proList + '</td>' +
                                    '<td>' + price + ' 원</td>' +
                                    '<td>' + regdate + '</td>' +
                                    '<td class="state"><input type="button" class="detail" value="' + state + '" style="background-color: #266266; color: white;"><input type="hidden" value="' + id + '" ></td></tr>'
                                )
                                tb.append(row);
                            }else{
                                let row = $('<tr>').append(
                                    '<td><input type="checkbox" id="OL_check_' + k + '" name="order" onclick="OL_checkSelectAll()" value="' + id + '"><label for="OL_check_' + k + '"></td>' +
                                    '<td>' + name + '</td>' +
                                    '<td>' + proList + '</td>' +
                                    '<td>' + price + ' 원</td>' +
                                    '<td>' + regdate + '</td>' +
                                    '<td class="state"><input type="button" class="detail" value="' + state + '"><input type="hidden" value="' + id + '" ></td></tr>'
                                )
                                tb.append(row);
                            }
                        }
                        $('.thead').after(tb);
                    })
                })
        }).catch(function(err){
            alert('업로드 실패')
            console.log(err);
        })
    })

    $('input[name="order_state"]').click(function(e){
        let count = $('input:checked[name="order_state"]').length;
        if(count > 1){
            $(this).prop('checked', false);
            alert('한개만 선택해주세요')
        }
    })

    $(function(){
        let now = new Date();
        let now_result = now.toISOString().substring(0,10);

        document.getElementById("weekbtn").addEventListener("click", function (){

            let week = new Date();
            week.setDate(week.getDate()- 7);
            var week_result = week.toISOString().substring(0, 10);

            document.getElementById("date_start").value = week_result;
            document.getElementById("date_end").value = now_result;
        })

        document.getElementById("monthbtn").addEventListener("click", function (){

            let month = new Date();
            month.setMonth(month.getMonth()- 1);
            var month_result =month.toISOString().substring(0, 10);


            document.getElementById("date_start").value = month_result;
            document.getElementById("date_end").value = now_result;
        })

        document.getElementById("three_monthbtn").addEventListener("click", function (){

            let three_month = new Date();
            three_month.setMonth(three_month.getMonth()- 3);
            var three_month_result =three_month.toISOString().substring(0, 10);


            document.getElementById("date_start").value = three_month_result;
            document.getElementById("date_end").value = now_result;
        })

        $('#schbtn').click(function(e){
            $('.tbody').empty();
            let page = $('.page').val();
            let dateStart = $('#date_start').val();
            let dateEnd = $('#date_end').val()
            let state = $('input:checkbox[name="order_state"]:checked').val();
            let orderIdx = $('#orderIdx').val();
            let url = '/api/orderList?page=' + page;

            if(dateStart == "" && dateEnd == ""){
                url = url;
            }else if(dateStart == "" && dateEnd != ""){
                url = url + '&dateEnd=' + dateEnd;
            }else if(dateStart != "" && dateEnd == ""){
                url = url + '&dateStart=' + dateStart;
            }else if(dateStart != "" && dateEnd != ""){
                url = url + '&dateStart=' + dateStart + '&dateEnd=' + dateEnd;
            }

            if(state == undefined){
                url = url;
            }else if(state != undefined){
                url = url + '&state=' + state;
            }

            if(orderIdx == ""){
                url = url;
            }else if(orderIdx != ""){
                url = url + '&orderIdx=' + orderIdx;
            }

            console.log(url);
            axios.get(url, {

            }).then(function (response){
                let tb = $('<tbody class="tbody">');

                for(let i in response.data.data){
                    let id = response.data.data[i].idx;
                    let name = response.data.data[i].name;
                    let proList = response.data.data[i].proList;
                    let price = response.data.data[i].price;
                    let state = response.data.data[i].state;
                    let regdate = response.data.data[i].regdate;
                    let k = parseInt(i + 6);

                    regdate = regdate.toString().substring(0, 10)

                    if(state == 1){
                        state = '입금완료'
                    }else if(state == 2){
                        state = '상품준비중'
                    }else if(state == 3){
                        state = '배송준비중'
                    }else if(state == 4){
                        state = '배송중'
                    }else if(state == 5){
                        state = '배송완료'
                    }else if(state == 6){
                        state = '취소'
                    }else if(state == 7){
                        state = '반품요청'
                    }else if(state == 8){
                        state = '반품'
                    }else if(state == 9){
                        state = '환불요청'
                    }else if(state == 0) {
                        state = '환불'
                    }

                    if(state == "배송완료") {
                        let row = $('<tr>').append(
                            '<td><input type="checkbox" id="OL_check_' + k + '" name="order" onclick="OL_checkSelectAll()" value="' + id + '"><label for="OL_check_' + k + '"></td>' +
                            '<td>' + name + '</td>' +
                            '<td>' + proList + '</td>' +
                            '<td>' + price + ' 원</td>' +
                            '<td>' + regdate + '</td>' +
                            '<td class="state"><input type="button" class="detail" value="' + state + '" style="background-color: #266266; color: white;"><input type="hidden" value="' + id + '" ></td></tr>'
                        )
                        tb.append(row);
                    }else{
                        let row = $('<tr>').append(
                            '<td><input type="checkbox" id="OL_check_' + k + '" name="order" onclick="OL_checkSelectAll()" value="' + id + '"><label for="OL_check_' + k + '"></td>' +
                            '<td>' + name + '</td>' +
                            '<td>' + proList + '</td>' +
                            '<td>' + price + ' 원</td>' +
                            '<td>' + regdate + '</td>' +
                            '<td class="state"><input type="button" class="detail" value="' + state + '"><input type="hidden" value="' + id + '" ></td></tr>'
                        )
                        tb.append(row);
                    }
                }
                $('.thead').after(tb);

                $(".detail").click(function (e) {
                    $("#ajax_hidden").val($(this).next().val());
                    let id = $("#ajax_hidden").val();

                    sessionStorage.setItem("idx4", id);

                    $("#content").empty();
                    $.ajax({
                        type: 'GET',
                        url: '/admin/productanswer?idx4=' + id,
                        datatype: 'html/text',
                        success: function (result) {
                            $("#content").html(result).trigger("create");
                        }
                    })
                })
                $("#Maxprev").siblings(".page_num").remove();
                for(let i = response.data.pagination.totalPages; i > 0; i--) {
                    let pages = $('<li class="page_num" value="' + (i - 1) + '">').append(
                        i + '</li>'
                    )
                    $('#prev').after(pages);
                }

                $('.page_num').click(function (e) {

                    $('.tbody').empty();

                    $('.page').val($(this).val())
                    let page = $('.page').val()

                    axios.get('/api/orderList?page=' + page, {}).then(function (response) {
                        let tb = $('<tbody class="tbody">');

                        for (let i in response.data.data) {
                            let id = response.data.data[i].idx;
                            let name = response.data.data[i].name;
                            let proList = response.data.data[i].proList;
                            let price = response.data.data[i].price;
                            let state = response.data.data[i].state;
                            let regdate = response.data.data[i].regdate;
                            let k = parseInt(i + 6);

                            regdate = regdate.toString().substring(0, 10);

                            if (state == 1) {
                                state = '입금완료'
                            } else if (state == 2) {
                                state = '상품준비중'
                            } else if (state == 3) {
                                state = '배송준비중'
                            } else if (state == 4) {
                                state = '배송중'
                            } else if (state == 5) {
                                state = '배송완료'
                            } else if (state == 6) {
                                state = '취소'
                            } else if (state == 7) {
                                state = '반품요청'
                            } else if (state == 8) {
                                state = '반품'
                            } else if (state == 9) {
                                state = '환불요청'
                            } else if (state == 0) {
                                state = '환불'
                            }

                            if(state == "배송완료") {
                                let row = $('<tr>').append(
                                    '<td><input type="checkbox" id="OL_check_' + k + '" name="order" onclick="OL_checkSelectAll()" value="' + id + '"><label for="OL_check_' + k + '"></td>' +
                                    '<td>' + name + '</td>' +
                                    '<td>' + proList + '</td>' +
                                    '<td>' + price + ' 원</td>' +
                                    '<td>' + regdate + '</td>' +
                                    '<td class="state"><input type="button" class="detail" value="' + state + '" style="background-color: #266266; color: white;"><input type="hidden" value="' + id + '" ></td></tr>'
                                )
                                tb.append(row);
                            }else{
                                let row = $('<tr>').append(
                                    '<td><input type="checkbox" id="OL_check_' + k + '" name="order" onclick="OL_checkSelectAll()" value="' + id + '"><label for="OL_check_' + k + '"></td>' +
                                    '<td>' + name + '</td>' +
                                    '<td>' + proList + '</td>' +
                                    '<td>' + price + ' 원</td>' +
                                    '<td>' + regdate + '</td>' +
                                    '<td class="state"><input type="button" class="detail" value="' + state + '"><input type="hidden" value="' + id + '" ></td></tr>'
                                )
                                tb.append(row);
                            }
                        }
                        $('.thead').after(tb);
                    })
                })
                $(".detail").click(function (e) {
                    $("#ajax_hidden").val($(this).next().val());
                    let id = $("#ajax_hidden").val();

                    sessionStorage.setItem("idx4", id);
                    $("#content").empty();
                    $.ajax({
                        type: 'GET',
                        url: '/admin/OrderDetail?idx4=' + id,
                        datatype: 'html/text',
                        success: function (result) {
                            $("#content").html(result).trigger("create");
                        }
                    })
                })

            })
        }).catch(function(err){
            console.log(err)
            alert('업로드 실패')
        })
    })

    $(function () {
        //선택삭제
        $('#delbtn').click(function (){
            confirm("정말 삭제하시겠습니까?")
            let id = [];
            ($("input:checkbox[name='order']:checked").each(function (e){
                id.push($(this).val())
            }));
            id = String(id)
            console.log(id)

            if(confirm){
                axios.delete("/api/orderList/deleteList/" + id,  {
                }).then(function (){
                    alert("주문목록 삭제 성공")
                })
            }
        }).catch(function (err){
            console.log(err)
        })
    })

</script>
<body>
<!--content_title 시작-->
<div class="content_title">
    <p>전체 상품 관리<span>주문 관리</span></p>
</div>
<!--content_title 끝-->
<!--Order_list 시작-->
<div class="Order_list">
    <!--OL_c1 시작-->
    <div class="OL_c1">
        <!--form 시작-->
        <form name="order_search">
            <p id="OL_c1_title" class="product_title"><label>주문 조회</label></p>
            <!--table 시작-->
            <table>
                <tr>
                    <th width="100">구매일자</th>
                    <td>
                        <input type="date" name="date" value="기간필터" id="date_start"> - <input type="date" name="date" value="기간필터" id="date_end">
                        <span class="datebtn">
                                <input type="button" name="button" value="최근 1주일" id="weekbtn">
                                <input type="button" name="button" value="최근 1개월" id="monthbtn">
                                <input type="button" name="button" value="최근 3개월" id="three_monthbtn">
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>주문상태</th>
                    <td>
                        <span><input type="checkbox" name="order_state" value="1" id="OL_check_1"><label for="OL_check_1">입금완료</label></span>
                        <span><input type="checkbox" name="order_state" value="2"  id="OL_check_2"><label for="OL_check_2">상품준비중</label></span>
                        <span><input type="checkbox" name="order_state" value="3"  id="OL_check_3"><label for="OL_check_3">배송준비중</label></span>
                        <span><input type="checkbox" name="order_state" value="4"  id="OL_check_4"><label for="OL_check_4">배송중</label></span>
                        <span><input type="checkbox" name="order_state" value="5"  id="OL_check_5"><label for="OL_check_5">배송완료</label></span><br>
                        <span><input type="checkbox" name="order_state" value="6"  id="OL_check_6"><label for="OL_check_6">취소</label></span>
                        <span><input type="checkbox" name="order_state" value="7"  id="OL_check_7"><label for="OL_check_7">반품요청</label></span>
                        <span><input type="checkbox" name="order_state" value="8"  id="OL_check_8"><label for="OL_check_8">반품</label></span>
                        <span><input type="checkbox" name="order_state" value="9"  id="OL_check_9"><label for="OL_check_9">환불요청</label></span>
                        <span><input type="checkbox" name="order_state" value="0"  id="OL_check_10"><label for="OL_check_10">환불</label></span>
                    </td>
                </tr>
                <tr>
                    <th>주문번호</th>
                    <td>
                        <input type="text" name="text" placeholder="주문번호를 입력하세요" id="orderIdx">
                    </td>
                </tr>
            </table>
            <!--table 끝-->
            <!--OL_c1_btnBox 시작-->
            <div class="bottom_btn" id="OL_c1_btnBox">
                <span><input type="reset" name="reset" value="초기화"></span>
                <span><input type="button" name="submit" value="검색" id="schbtn"></span>
            </div>
            <!--OL_c1_btnBox 끝-->
        </form>
        <!--form 끝-->
    </div>
    <!--OL_c1 끝-->
    <!--OL_c2 시작-->
    <div class="OL_c2">
        <!--OL_c2_title 시작-->
        <div id="OL_c2_title" class="green_title">
            <p>주문 목록</p>
        </div>
        <!--OL_c2_title 끝-->
        <!--form 시작-->
        <form name="order_list">
                <span>
<!--                    <input type="button" name="button" value="선택삭제" id="delbtn">-->
                </span>
            <!--table 시작-->
            <table width="100%" class="list_table">
                <thead class="thead">
                    <tr>
                        <th width="5%"><input type="checkbox" value="cou_list" id="OL_check" name="selectall" onclick="OL_selectAll(this)"><label for="OL_check"></th>
                        <th width="14%">구매자</th>
                        <th width="22%">주문정보</th>
                        <th width="14%">결제금액</th>
                        <th width="20%">구매일자</th>
                        <th width="15%">주문상태</th>
                    </tr>
                </thead>
            </table>
            <!--table 끝-->
            <!-- pageBox 시작-->
            <div class="pageBox">
                <ul>
                    <li id="Maxprev"><a href="#"><<</a></li>
                    <li id="prev"><</li>
                    <li>></li>
                    <li id="Maxnext"><a href="#">>></a></li>
                </ul>
                <input type="hidden" value="0" class="page">
                <input type="hidden" id="ajax_hidden">
            </div>
            <!-- pageBox 끝-->
        </form>
        <!--form 끝-->
    </div>
    <!--OL_c2 끝-->
</div>
<!--Order_list 끝-->
</body>
</html>