<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 상품 관리 | 상품 관리</title>
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script type="text/javascript" src="/admin/ckeditor/ckeditor.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<script>
    function sendit(){
        alert("소민이 바보");
        let editor1 = CKEDITOR.instances.editor1.getData();
        let editor2 = CKEDITOR.instances.editor2.getData();

        axios.post('/api/producttext/create', {
            headers: {'Content-type': 'application/json'},
            data: {
                "editor1": editor1,
                "editor2": editor2
            }
        }).then(function (response){
            alert("공통문구가 등록되었습니다!")
        })
    }

    $(function (){
        axios.get('/api/producttext/read', {

        }).then(function (response){
            let editor1 = CKEDITOR.instances.editor1.getData();
            let editor2 = CKEDITOR.instances.editor2.getData();

            CKEDITOR.instances.editor1.setData(editor1);
            CKEDITOR.instances.editor2.setData(editor2);
        }).then(function (){
            alert("공통문구 등록 완료")
        })
    })

    function update(){
        let editor1 = CKEDITOR.instances.editor1.getData();
        let editor2 = CKEDITOR.instances.editor2.getData();

        axios.put('/api/producttext/update', {
            headers: {'Content-type': 'application/json'},
            data: {
                "editor1": editor1,
                "editor2": editor2
            }
        }).then(function (){
            alert("공통문구 수정이 완료되었습니다.")
        }).catch(function (err){
            console.log(err)
        })
    }
</script>
<body>
<!--content_title 시작-->
<div class="content_title">
    <p>전체 상품 관리 <span>상품 관리</span></p>
</div>
<!--content_title 끝-->
<!--content_title_click 시작-->
<div class="content_title_click">
    <a onclick="PL_location()">상품 등록</a>
    <a onclick="PL_location_1()">상품 목록</a>
    <a onclick="PL_location_2()" id="product_click_3">공통문구 </a>
</div>
<!--content_title_click 끝-->
<!--Ptext 시작-->
<div class="Pcreate">
    <!--form 시작-->
    <form name="product_text">
        <p class="product_title" id="PT_title"><label>공통문구</label></p>
        <div id="PT_c1_title" class="green_title">
            <p>HTML</p>
        </div>
        <textarea name="productText" id="PT_editor1" cols="30" rows="10"></textarea>
        <!-- CKEditor 시작-->
        <script type="text/javascript">
            CKEDITOR.replace('PT_editor1'
                , { height: 300
                });
        </script>
        <!-- CKEditor 끝-->
        <div id="PT_c1_title" class="green_title">
            <p>HTML</p>
        </div>
        <textarea name="productText" id="PT_editor2" cols="30" rows="10"></textarea>
        <!-- CKEditor 시작-->
        <script type="text/javascript">
            CKEDITOR.replace('PT_editor2'
                , {height: 300
                });
        </script>
        <!-- CKEditor 끝-->
        <!--PC_c1_btnBox 시작-->
        <div id="PT_c1_btnBox" class="bottom_btn">
            <span><input type="submit" name="submit" value="등록" onclick="sendit()"></span>
            <span><input type="submit" name="submit" value="수정" onclick="update()"></span>
        </div>
        <!--PT_c1_btnBox 끝-->
    </form>
    <!--form 끝-->
</div>
<!--Ptext 끝-->
</body>
</html>