<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헬로네이처 추천 관리 | 기획전/이벤트</title>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>
    <link rel="stylesheet" href="/admin/css/style2.css">
    <script src="/admin/js/checkbox.js"></script>
</head>
<script>
    $(function(){

        let page = $('.page').val();
        axios.get('/api/event/list?startPage=' + page, {
        }).then(function (response){
            let tb = $('<tbody class="tbody">');
            for(let i in response.data.data) {
                let id = response.data.data[i].idx
                let eventFlag  = response.data.data[i].typeFlag;
                let title = response.data.data[i].title;
                let ingFlag = response.data.data[i].ingFlag;
                let dateStart = response.data.data[i].dateStart;
                let dateEnd = response.data.data[i].dateEnd;
                let j = parseInt(i) + 1

                if(eventFlag === "TRUE") {
                    eventFlag = '이벤트'
                }else if(eventFlag === "FALSE"){
                    eventFlag = '기획전'
                }

                if(ingFlag === "TRUE") {
                    ingFlag = '진행중'
                }else if(ingFlag === "FALSE"){
                    ingFlag = '진행종료'
                }

                let row = $('<tr>').append(
                    '<td><input type="checkbox" id="EL_check_'+ i +'" name="event" onclick="EL_checkSelectAll()" value="'+id+'"><label for="EL_check_1"></label></td>' +
                    '<td>' + j + '</td>' +
                    '<td>'+ eventFlag +'</td>' +
                    '<td>' + title + '</td>' +
                    '<td>' + dateStart + '-' + dateEnd + '</td>' +
                    '<td>' + ingFlag + '</td>' +
                    '<td><input type="button" class="detail" value="상세"><input type="hidden" value="'+ id +'"></td></tr>'
                )
                tb.append(row);
            }
            tb.append('</tbody>');
            $('.thead').after(tb);

            $(".detail").click(function (e) {
                $("#ajax_hidden").val($(this).next().val());
                let id = $("#ajax_hidden").val();

                sessionStorage.setItem("brand_idx", id);
                $.ajax({
                    type: 'GET',
                    url: '/admin/EventEdit',
                    datatype: 'html/text',
                    success: function (result) {
                        console.log(result)
                        $("#content").html(result).trigger("create");
                    }
                })
            })

            $("#Maxprev").siblings(".page_num").remove();
            for(let i = response.data.pagination.totalPages; i > 0; i--){
                let pages = $('<li class="page_num" id="page_num '+ i +'" value="' + (i - 1) +'">').append(
                    i + '</li>'
                )
                $('#prev').after(pages);
            }

            $('.page_num').click(function(e){
                $('.tbody').empty();
                $('.page').val($(this).val())
                let page = $('.page').val()

                axios.get('/api/event/list?startPage=' + page, {
                }).then(function (response){
                    let tb = $('<tbody class="tbody">');
                    for(let i in response.data.data) {
                        let id = response.data.data[i].idx
                        let eventFlag  = response.data.data[i].typeFlag;
                        let title = response.data.data[i].title;
                        let ingFlag = response.data.data[i].ingFlag;
                        let dateStart = response.data.data[i].dateStart;
                        let dateEnd = response.data.data[i].dateEnd;
                        let j = parseInt(i) + 1

                        if(eventFlag === "TRUE") {
                            eventFlag = '이벤트'
                        }else if(eventFlag === "FALSE"){
                            eventFlag = '기획전'
                        }

                        if(ingFlag === "TRUE") {
                            ingFlag = '진행중'
                        }else if(ingFlag === "FALSE"){
                            ingFlag = '진행종료'
                        }

                        let row = $('<tr>').append(
                            '<td><input type="checkbox" id="EL_check_'+ i +'" name="event" onclick="EL_checkSelectAll()" value="'+id+'"><label for="EL_check_1"></label></td>' +
                            '<td>' + j + '</td>' +
                            '<td>'+ eventFlag +'</td>' +
                            '<td>' + title + '</td>' +
                            '<td>' + dateStart + '-' + dateEnd + '</td>' +
                            '<td>' + ingFlag + '</td>' +
                            '<td><input type="button" class="detail" value="상세"><input type="hidden" value="'+ id +'"></td></tr>'
                        )
                        tb.append(row);
                    }
                    tb.append('</tbody>');
                    $('.thead').after(tb);

                    $(".detail").click(function (e) {
                        $("#ajax_hidden").val($(this).next().val());
                        let id = $("#ajax_hidden").val();

                        console.log(id)

                        sessionStorage.setItem("brand_idx", id);
                        $.ajax({
                            type: 'GET',
                            url: '/admin/EventEdit',
                            datatype: 'html/text',
                            success: function (result){
                                console.log(result)
                                $("#content").html(result).trigger("create");
                            }
                        })
                    })
                })

            })
        })

        $(function () {
            //선택삭제
            $('#delbtn').click(function (){
                let id = [];
                ($("input:checkbox[name='event']:checked").each(function (e){
                    id.push($(this).val())
                }));
                id = String(id)
                console.log(id)

                axios.delete("/api/event/deleteList/" + id,  {
                }).then(function (){
                    alert("기획전/이벤트 삭제 성공")
                    location.reload();
                })
            }).catch(function (err){
                console.log(err)
            })
        })

        $(function () {
            let now = new Date();
            let now_result = now.toISOString().substring(0, 10);

            document.getElementById("weekbtn").addEventListener("click", function () {
                let week = new Date();
                week.setDate(week.getDate() - 7);
                var week_result = week.toISOString().substring(0, 10);

                document.getElementById("date_start").value = week_result;
                document.getElementById("date_end").value = now_result;
            })

            document.getElementById("monthbtn").addEventListener("click", function () {

                let month = new Date();
                month.setMonth(month.getMonth() - 1);
                var month_result = month.toISOString().substring(0, 10);


                document.getElementById("date_start").value = month_result;
                document.getElementById("date_end").value = now_result;
            })

            document.getElementById("three_monthbtn").addEventListener("click", function () {

                let three_month = new Date();
                three_month.setMonth(three_month.getMonth() - 3);
                var three_month_result = three_month.toISOString().substring(0, 10);


                document.getElementById("date_start").value = three_month_result;
                document.getElementById("date_end").value = now_result;
            })
        })

        $('#schbtn').click(function () {
            $('#pageBox').em
            $('.tbody').empty();

            let page = $('.page').val();
            let dateStart = $('#date_start').val();
            let dateEnd = $('#date_end').val();
            let typeFlag = $('#typeFlag').val();
            let title = $('#title').val();

            let url = '/api/event/list?startPage=' + page;

            if(dateStart == "" && dateEnd == ""){
                url = url
            }else if(dateStart == "" && dateEnd != ""){
                url = url + '&dateEnd=' + dateEnd;
            }else if(dateStart != "" && dateEnd == ""){
                url =url + '&dateStart=' + dateStart;
            }else if(dateStart != "" && dateEnd != ""){
                url = url + '&dateStart=' + dateStart + '&dateEnd=' + dateEnd;
            }

            if(typeFlag == "분류"){
                url = url;
            }else if(typeFlag != undefined){
                url = url +'&typeFlag=' + typeFlag;
            }

            if(title === ""){
                url = url;
            }else if(title !== ""){
                url = url + '&title=' + title;
            }

            console.log(url);

            axios.get(url, {
            }).then(function (response) {
                let tb = $('<tbody class="tbody">');
                for(let i in response.data.data) {
                    let id = response.data.data[i].idx
                    let eventFlag  = response.data.data[i].typeFlag;
                    let title = response.data.data[i].title;
                    let ingFlag = response.data.data[i].ingFlag;
                    let dateStart = response.data.data[i].dateStart;
                    let dateEnd = response.data.data[i].dateEnd;
                    let j = parseInt(i) + 1

                    if(eventFlag === "TRUE") {
                        eventFlag = '이벤트'
                    }else if(eventFlag === "FALSE"){
                        eventFlag = '기획전'
                    }

                    if(ingFlag === "TRUE") {
                        ingFlag = '진행중'
                    }else if(ingFlag === "FALSE"){
                        ingFlag = '진행종료'
                    }

                    let row = $('<tr>').append(
                        '<td><input type="checkbox" id="EL_check_'+ i +'" name="event" onclick="EL_checkSelectAll()" value="'+id+'"><label for="EL_check_1"></label></td>' +
                        '<td>' + j + '</td>' +
                        '<td>'+ eventFlag +'</td>' +
                        '<td>' + title + '</td>' +
                        '<td>' + dateStart + '-' + dateEnd + '</td>' +
                        '<td>' + ingFlag + '</td>' +
                        '<td><input type="button" class="detail" value="상세"><input type="hidden" value="'+ id +'"></td></tr>'
                    )
                    tb.append(row);
                }
                tb.append('</tbody>');
                $('.thead').after(tb);

                $("#Maxprev").siblings(".page_num").remove();
                for(let i = response.data.pagination.totalPages; i > 0; i--){
                    let pages = $('<li class="page_num" id="page_num '+ i +'" value="' + (i - 1) +'">').append(
                        i + '</li>'
                    )
                    $('#prev').after(pages);
                }
                $('.page_num').click(function(e){
                    $('.tbody').empty();

                    $('.page').val($(this).val());
                    let page = $('.page').val();
                    let dateStart = $('#date_start').val();
                    let dateEnd = $('#date_end').val();
                    let typeFlag = $('#typeFlag').val();
                    let title = $('#title').val();

                    let url = '/api/event/list?startPage=' + page;

                    if(dateStart == "" && dateEnd == ""){
                        url = url
                    }else if(dateStart == "" && dateEnd != ""){
                        url = url + '&dateEnd=' + dateEnd;
                    }else if(dateStart != "" && dateEnd == ""){
                        url =url + '&dateStart=' + dateStart;
                    }else if(dateStart != "" && dateEnd != ""){
                        url = url + '&dateStart=' + dateStart + '&dateEnd=' + dateEnd;
                    }

                    if(typeFlag == "분류"){
                        url = url;
                    }else if(typeFlag != undefined){
                        url = url +'&typeFlag=' + typeFlag;
                    }

                    if(title === ""){
                        url = url;
                    }else if(title !== ""){
                        url = url + '&title=' + title;
                    }

                    console.log(url);

                    axios.get(url, {
                    }).then(function (response){
                        let tb = $('<tbody class="tbody">');
                        for(let i in response.data.data) {
                            let id = response.data.data[i].idx
                            let eventFlag  = response.data.data[i].typeFlag;
                            let title = response.data.data[i].title;
                            let ingFlag = response.data.data[i].ingFlag;
                            let dateStart = response.data.data[i].dateStart;
                            let dateEnd = response.data.data[i].dateEnd;
                            let j = parseInt(i) + 1

                            if(eventFlag === "TRUE") {
                                eventFlag = '이벤트'
                            }else if(eventFlag === "FALSE"){
                                eventFlag = '기획전'
                            }

                            if(ingFlag === "TRUE") {
                                ingFlag = '진행중'
                            }else if(ingFlag === "FALSE"){
                                ingFlag = '진행종료'
                            }

                            let row = $('<tr>').append(
                                '<td><input type="checkbox" id="EL_check_'+ i +'" name="event" onclick="EL_checkSelectAll()" value="'+id+'"><label for="EL_check_1"></label></td>' +
                                '<td>' + j + '</td>' +
                                '<td>'+ eventFlag +'</td>' +
                                '<td>' + title + '</td>' +
                                '<td>' + dateStart + '-' + dateEnd + '</td>' +
                                '<td>' + ingFlag + '</td>' +
                                '<td><input type="button" class="detail" value="상세"><input type="hidden" value="'+ id +'"></td></tr>'
                            )
                            tb.append(row);
                        }
                        tb.append('</tbody>');
                        $('.thead').after(tb);
                    })
                })

                $(".detail").click(function (e) {
                    $("#ajax_hidden").val($(this).next().val());
                    let id = $("#ajax_hidden").val();

                    console.log(id)

                    sessionStorage.setItem("brand_idx", id);
                    $.ajax({
                        type: 'GET',
                        url: '/admin/EventEdit',
                        datatype: 'html/text',
                        success: function (result){
                            console.log(result)
                            $("#content").html(result).trigger("create");
                        }
                    })
                })
            })
        })
    })
</script>
<body>
    <!--content_title 시작-->
    <div class="content_title">
        <p>헬로네이처 추천 관리<span>기획전/이벤트</span></p>
    </div>
    <!--content_title 끝-->
    <!--content_title_click 시작-->
    <div class="content_title_click">
        <a onclick="EL_location_1()" id="EL_click_1">기획전/이벤트 목록</a>
        <a onclick="EL_location_2()">기획전/이벤트 등록</a>
    </div>
    <!--content_title_click 끝-->
    <!--Event_list 시작-->
    <div class="Event_list">
        <!--EL_c1 시작-->
        <div class="EL_c1">
            <!--form 시작-->
            <form name="event_search">
                <p id="EL_c1_title" class="product_title"><label>기획전/이벤트 조회</label></p>
                <!--table 시작-->
                <table>
                    <tr>
                        <th width="80">진행기간</th>
                        <td><input type="date" name="date" id="date_start"> - <input type="date" name="date" id="date_end"></td>
                    </tr>
                    <tr>
                        <th>분류</th>
                        <td>
                            <select style="height: 38px;" id="typeFlag">
                                <option>분류</option>
                                <option value="0">기획전</option>
                                <option value="1">이벤트</option>
                            </select>
                            <input type="text" name="text" placeholder="기획전/이벤트명을 검색하세요" id="title">
                        </td>
                    </tr>
                </table>
                <!--table 끝-->
                <div class="bottom_btn">
                    <span><input type="reset" name="reset" value="초기화"></span>
                    <span><input type="button" name="submit" value="검색" id="schbtn"></span>
                </div>
            </form>
            <!--form 끝-->
        </div>
        <!--EL_c1 끝-->
        <!--EL_c2 시작-->
        <div class="EL_c2">
            <!--EL_c2_title 시작-->
            <div id="EL_c2_title" class="green_title">
                <p>등록 상품 목록 <span>(<span>현재 등록 상품 : 2개</span>)</span></p>
            </div>
            <!--EL_c2_title 끝-->
            <!--form 시작-->
            <form name="event_list">
                <span>
                    <input type="button" name="button" value="선택삭제" id="delbtn">
                </span>
                <!--table 시작-->
                <table width="100%" class="list_table">
                    <thead class="thead">
                    <tr>
                        <th width="5%"><input type="checkbox" value="ELCheck" id="EL_check" name="selectall" onclick="EL_selectAll(this)"><label for="EL_check"></label></th>
                        <th width="10%">번호</th>
                        <th width="15%">분류</th>
                        <th width="25%">기획전/이벤트명</th>
                        <th width="20%">진행기간</th>
                        <th width="15%">진행상태</th>
                        <th width="10%">상세</th>
                    </tr>
                    </thead>
                </table>
                <!--table 끝-->
                <div class="pageBox">
                    <ul>
                        <li id="Maxprev"><a href="#"><<</a></li>
                        <li id="prev"><</li>
                        <li>></li>
                        <li id="Maxnext"><a href="#">>></a></li>
                    </ul>
                    <input type="hidden" value="0" class="page">
                    <input type="hidden" value="0" class="page_hidden">
                    <input type="hidden" id="ajax_hidden">
                </div>
            </form>
            <!--form 끝-->
        </div>
        <!--EL_c1 끝-->
    </div>
    <!--Event_list 끝-->
</body>
</html>