<!DOCTYPE html>
<html lang="en">
<body th:fragment="sidebar3">
    <a href="/user/mypage_orderlist"><h2 class="list_name name">마이네이처</h2></a>
    <div class="leftaside_list">
        <ul class="list">
            <li><a href="/user/mypage_hellocash" id="hello_cash_val">헬로캐시</a></li>
            <li><a href="/user/mypage_coupon" id="hello_coupon_val">쿠폰</a></li>
            <li><a href="/user/mypage_hellopay" id="hello_hellopay_val">헬로페이</a></li>
<!--            <li><a href="/user/mypage_hellopass" id="hello_hellopass_val">헬로패스</a></li>-->
        </ul>
        <a href="/user/mypage_center" class="list_callcenter" id="hello_sender_side_3"><span>도움이 필요하신가요 ?</span></a>
    </div>    
</body>
</html>