<!DOCTYPE html>
<html lang="en">
<body th:fragment="sidebar1">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <a href="/user/mypage_orderlist" id="mg_home"><h2 class="list_name name">마이네이처</h2></a>
    <div class="leftaside_list">
        <ul class="list">
            <li><a href="/user/mypage_orderlist" id="mg_order_list">주문 내역</a></li>
            <li><a href="/user/mypage_shipping" id="mg_delivery">배송지 관리</a></li>
            <li><a href="/user/mypage_review" id="mg_review">구매 후기</a></li>
            <li><a href="/user/mypage_thegreen" id="mg_thegreen">더그린배송</a></li>
            <li><a href="/user/mypage_productinq" id="mg_Prodquestion">상품 문의</a></li>
            <li><a href="/user/mypage_mantoman" id="mg_question">1:1 문의</a></li>
            <li><a href="/user/mypage_edit" id="mg_edit">개인 정보 수정</a></li>
            <a href="/user/mypage_center" class="list_callcenter" id="mg_center"><span>도움이 필요하신가요 ?</span></a>
        </ul>
    </div>
</body>
</html>