<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헬로네이처 - 오늘이 맛있는 탐험</title>
    <link rel="stylesheet" href="/user/css/index_style.css">
    <link rel="icon" href="/user/images/favicon-152x152.png" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/user/css/layout.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        $(function() {
            const currUrl = new URL(location.href);           // 현재 url
            const searchParams = currUrl.searchParams;        // 파라미터값 객체로 변환
            const rootIdxParam = searchParams.get("rootIdx"); // 1차 카테고리
            const cateIdxParam = searchParams.get("cateIdx"); // 2차 카테고리
            let page = searchParams.get("page");
            let paramUrl, cateIdx, tempUrl, newParam;

            let memIdx = $("#hidden_user").val();


            // 1차 카테고리 이름 띄우기
            axios.get('/api/category/read/' + rootIdxParam, {
            }).then(function(res) {
                $("#rootIdxName").text(res.data.data.name);
            });

            // 2차 카테고리 불러오기
            axios.get("/api/category/list/second?idx="+ rootIdxParam +"&lifeFlag=FALSE", {
            }).then(function(res) {

                let ul = $('<ul class="list"><li class="prod_cate" id="prodItemAll" value="'+ rootIdxParam +'">전체</li>');

                for (let i in res.data.data) {
                    cateIdx = res.data.data[i].idx;
                    let name = res.data.data[i].name;

                    let li = $('<li class="prod_cate" value="' + cateIdx + '">').append(
                        name + '</li>'
                    );
                    ul.append(li);
                }
                ul.append('</ul>');
                $('.ico_cate').next().append(ul);


                // 1차 카테고리로 넘어올때
                if (rootIdxParam !== null && cateIdxParam == null) {
                    paramUrl = "/api/product/user/list?cateIdx="+ rootIdxParam +"&page="+ page +"&lifeFlag=FALSE";
                    // 2차 카테고리로 넘어올때
                } else if (rootIdxParam !== null && cateIdxParam !== null) {
                    paramUrl = "/api/product/user/list?cateIdx=" + cateIdxParam +"&page="+ page +"&lifeFlag=FALSE";
                }

                axios.get(paramUrl, {

                }).then(function(res) {

                    $(".page_num").remove();

                    let ul = $('<ul class="list_mold">');

                    for (let i in res.data.data) {
                        let prodIdx = res.data.data[i].idx;             // 상품번호
                        let name = res.data.data[i].name;               // 상품명
                        let netPrice = res.data.data[i].netPrice;       // 판매가(원)
                        let discount = res.data.data[i].salePrice;      // 할인율(%)
                        let salePrice = res.data.data[i].price;         // 할인가(원)

                        let discountIcon, netPriceText;
                        if (discount == 0 || discount == null) { netPriceText = "none"; discountIcon = "none"; }
                        else { netPriceText = "inline"; discountIcon = "inline-block"; }

                        let img = res.data.data[i].img;                 // 이미지
                        let temp = res.data.data[i].temp;               // 보관온도
                        let star = res.data.data[i].star;               // 별점
                            star = Math.floor(star);                   // 소수점 버림
                        let stars = "";
                        if ( star == 0 ) { stars = "☆☆☆☆☆"; star = "0"; }
                        else if ( star == 1 ) { stars = "★☆☆☆☆"; }
                        else if ( star == 2 ) { stars = "★★☆☆☆"; }
                        else if ( star == 3 ) { stars = "★★★☆☆"; }
                        else if ( star == 4 ) { stars = "★★★★☆"; }
                        else if ( star >= 5 ) { stars = "★★★★★"; star = "5"; }


                        let bestFlag = res.data.data[i].bestFlag;      // 베스트여부
                        if (bestFlag == "FALSE") { bestFlag = "none"; }
                        else { bestFlag = "inline-block"; }

                        let count = res.data.data[i].count;            // 재고수량

                        let tempText;
                        if (temp == 1) { tempText = "냉장"; }
                        else if (temp == 2) { tempText = "냉동"; }
                        else if (temp == 3) { tempText = "상온"; }

                        netPrice = netPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        salePrice = salePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                        let li = $('<li class="life_item_wrap">').append(
                            '<div class="item_info">' +
                            '<span class="item_sale" style="display:'+ discountIcon +'">'+ discount +'%</span>' +
                            '<span class="item_best" id="best_flag" style="display:'+ bestFlag +'">Best</span>' +
                            '</div>' +
                            `<a onclick="location.href='/user/product?prodIdx=${prodIdx}'"><img class="item_img" src = "${img}"></a>` +
                            `<a onclick="location.href='/user/product?prodIdx=${prodIdx}'" class="item_name"> ${name} </a>` +
                            '<div class="item_price"><span class="price_comma">'+ salePrice +'</span>원</div><del style="display:'+ netPriceText +'" `><span class="price_comma" style="display:'+ netPriceText +'">'+ netPrice +'원</span></del>' +
                            '<div class="item_storage"><span>'+ tempText +'</span></div>' +
                            '<div class="like_area">' +
                            '<span class="item_star">'+ star +'점</span>' +
                            '<div class="rating">'+ stars +'</div>' +
                            '<a href="#">' +
                            '<input type="hidden" value="'+prodIdx+'">'+
                            '<button class="price_cart cartBtn_1" value="' + prodIdx + '">카트에 담기</button></a>' +
                            '</div></li>'
                        )
                        ul.append(li);
                    }
                    ul.append($('</ul>'));
                    $('#goods_list_bg').append(ul);

                    for (let i=res.data.pagination.totalPages; i>0; i--) {
                        let pageNumbering = $('<div class="page_num" value="'+i+'">').append(
                            i +'</div>'
                        )
                        $(".page_prev").after(pageNumbering);
                    }

                    let pageNum = document.querySelectorAll(".page_num");
                    for(let i=0; i<pageNum.length; i++) {
                        pageNum[i].addEventListener('click', function() {
                            let num = pageNum[i].innerText;
                            let k = parseInt(num);
                            searchParams.set('page', String(k-1));
                            newParam = searchParams.toString();
                            location.href = location.pathname+'?'+newParam, '_self';
                            console.log(String(k-1));
                        });
                    }
                    // 만약 axios가 실행되면 tempUrl에 실행한 api주소를 담는다.
                    tempUrl = paramUrl;

                    let cartBtn_1 = document.querySelectorAll(".cartBtn_1");
                    for (let i=0; i<cartBtn_1.length; i++) {
                        cartBtn_1[i].addEventListener('click', function () {
                            let el = cartBtn_1[i].previousSibling;
                            let proIdx = el.value;
                            if (memIdx !== "") {
                                axios.post('/api/basket/create', {
                                    data: {
                                        memIdx: memIdx,
                                        proIdx: proIdx,
                                        proCount: 1,
                                    }
                                }).then(function () {
                                    alert('장바구니에 등록되었습니다.');
                                    location.reload();
                                }).catch(function (err) {
                                    console.log(err);
                                });
                            } else {
                                alert("비회원입니다.")
                                let proidx_list = [];
                                sessionStorage.setItem("noMem", proIdx);
                            }
                        });
                    }

                }).catch(function(err) {
                    console.log(err);
                });


                let prodCate = document.getElementsByClassName("prod_cate");

                // 카테고리를 for문으로 돌려서
                for (let i=0; i<prodCate.length; i++) {
                    prodCate[i].addEventListener('click', function() {
                        page=0;

                        $('#goods_list_bg').empty();
                        $(".page_num").remove();

                        let cateIdxValue = prodCate[i].value;

                        axios.get('/api/product/user/list?cateIdx=' + cateIdxValue +'&page='+ page +'&lifeFlag=FALSE', {

                        }).then(function(res) {
                            let ul = $('<ul class="list_mold">');

                            for (let i in res.data.data) {
                                let prodIdx = res.data.data[i].idx;            // 상품번호
                                let name = res.data.data[i].name;              // 상품명
                                let netPrice = res.data.data[i].netPrice;      // 판매가(원)
                                let discount = res.data.data[i].salePrice;     // 할인율(%)
                                let salePrice = res.data.data[i].price;        // 할인가(원)

                                let discountIcon, netPriceText;
                                if (discount == 0 || discount == null) { netPriceText = "none"; discountIcon = "none"; }
                                else { netPriceText = "inline"; discountIcon = "inline-block"; }

                                let img = res.data.data[i].img;              // 이미지
                                let temp = res.data.data[i].temp;              // 보관온도
                                let star = res.data.data[i].star;              // 별점
                                    star = Math.floor(star);                   // 소수점 버림
                                let stars = "";
                                if ( star == 0 ) { stars = "☆☆☆☆☆"; star = "0"; }
                                else if ( star == 1 ) { stars = "★☆☆☆☆"; }
                                else if ( star == 2 ) { stars = "★★☆☆☆"; }
                                else if ( star == 3 ) { stars = "★★★☆☆"; }
                                else if ( star == 4 ) { stars = "★★★★☆"; }
                                else if ( star >= 5 ) { stars = "★★★★★"; star = "5"; }

                                let bestFlag = res.data.data[i].bestFlag;      // 베스트여부
                                if (bestFlag == "FALSE") {
                                    bestFlag = "none";
                                } else {
                                    bestFlag = "inline-block";
                                }

                                let count = res.data.data[i].count;            // 재고수량

                                let tempText;
                                if (temp == 1) { tempText = "냉장"; }
                                else if (temp == 2) { tempText = "냉동"; }
                                else if (temp == 3) { tempText = "상온"; }

                                netPrice = netPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                salePrice = salePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                                let li = $('<li class="life_item_wrap">').append(
                                    '<div class="item_info">' +
                                    '<span class="item_sale" style="display:'+ discountIcon +'">'+ discount +'%</span>' +
                                    '<span class="item_best" id="best_flag" style="display:'+ bestFlag +'">Best</span>' +
                                    '</div>' +
                                    `<a onclick="location.href='/user/product?prodIdx=${prodIdx}'"><img class="item_img" src = "${img}"></a>` +
                                    `<a onclick="location.href='/user/product?prodIdx=${prodIdx}'" class="item_name"> ${name} </a>` +
                                    '<div class="item_price"><span class="price_comma">'+ salePrice +'</span>원</div><del style="display:'+ netPriceText +'" `><span class="price_comma" style="display:'+ netPriceText +'">'+ netPrice +'원</span></del>' +
                                    '<div class="item_storage"><span>'+ tempText +'</span></div>' +
                                    '<div class="like_area">' +
                                    '<span class="item_star">'+ star +'점</span>' +
                                    '<div class="rating">'+ stars +'</div>' +
                                    '<a href="#">' +
                                    '<input type="hidden" value="'+prodIdx+'">'+
                                    '<button class="price_cart cartBtn_2" value="' + prodIdx + '">카트에 담기</button></a>' +
                                    '</div></li>'
                                )
                                ul.append(li);
                            }
                            ul.append($('</ul>'));
                            $('#goods_list_bg').append(ul);

                            for (let i=res.data.pagination.totalPages; i>0; i--) {
                                let pageNumbering = $('<div class="page_num" value="'+i+'">').append(
                                    i +'</div>'
                                )
                                $(".page_prev").after(pageNumbering);
                            }

                            // 페이지네이션 url 값 변경
                            let pageNum = document.querySelectorAll(".page_num");
                            for(let i=0; i<pageNum.length; i++) {
                                pageNum[i].addEventListener('click', function() {
                                    let num = pageNum[i].innerText;
                                    let k = parseInt(num);
                                    searchParams.set('page', String(k-1));
                                    newParam = searchParams.toString();
                                    window.open(location.pathname+'?'+newParam, '_self');
                                    console.log(String(k-1));
                                });
                            }
                            // 만약 axios가 실행되면 tempUrl에 실행한 api주소를 담는다.
                            tempUrl = "/api/product/user/list?cateIdx=" + cateIdxValue +"&lifeFlag=FALSE";


                            let cartBtn_2 = document.querySelectorAll(".cartBtn_2");
                            for (let i=0; i<cartBtn_2.length; i++) {
                                cartBtn_2[i].addEventListener('click', function () {
                                    let el = cartBtn_2[i].previousSibling;
                                    let proIdx = el.value;
                                    if (memIdx !== "") {
                                        axios.post('/api/basket/create', {
                                            data: {
                                                memIdx: memIdx,
                                                proIdx: proIdx,
                                                proCount: 1,
                                            }
                                        }).then(function () {
                                            alert('장바구니에 등록되었습니다.');
                                            location.reload();
                                        }).catch(function (err) {
                                            console.log(err);
                                        });
                                    } else {
                                        alert("비회원입니다.")
                                        let proidx_list = [];
                                        sessionStorage.setItem("noMem", proIdx);
                                    }
                                });
                            }

                        }).catch(function(err) {
                            console.log(err);
                        });
                    });
                }


                let filterSearch = document.getElementById("filter_search");
                let filterItem = document.querySelectorAll(".filter_item");
                let searchUrl;

                filterSearch.addEventListener('click', function() {         // 1. 선택한 조건으로 검색을 눌렀을 때
                    for (let i = 0; i < filterItem.length; i++) {           // 2. 조건들을 일단 다 돌리고
                        if (filterItem[i].checked == true) {                // 3. 조건들 중에서 체크된 요소가 있으면
                            let filterItemValue = filterItem[i].value;      // 4. 그 체크된 요소의 벨류값을 변수에 저장.
                            if (tempUrl) {                                  // 5. api를 실행시키면서 api주소가 저장되는 변수를 가져와서
                                switch(filterItemValue) {                   // 6. 체크된 요소의 벨류값에 따라 api주소에 덧붙여서 필터를 실행.
                                    case "new":
                                        searchUrl = tempUrl + "&order=1";
                                        break;
                                    case "rec":
                                        searchUrl = tempUrl + "&order=2";
                                        break;
                                    case "hot":
                                        searchUrl = tempUrl + "&order=3";
                                        break;
                                    case "low":
                                        searchUrl = tempUrl + "&order=4";
                                        break;
                                    case "high":
                                        searchUrl = tempUrl + "&order=5";
                                        break;
                                }
                            }

                            $('#goods_list_bg').empty();

                            axios.get(searchUrl, {

                            }).then(function(res) {
                                let ul = $('<ul class="list_mold">');

                                for (let i in res.data.data) {
                                    let prodIdx = res.data.data[i].idx;            // 상품번호
                                    let name = res.data.data[i].name;              // 상품명
                                    let netPrice = res.data.data[i].netPrice;      // 판매가(원)
                                    let discount = res.data.data[i].salePrice;     // 할인율(%)
                                    let salePrice = res.data.data[i].price;        // 할인가(원)

                                    let discountIcon, netPriceText;
                                    if (discount == 0 || discount == null) { netPriceText = "none"; discountIcon = "none"; }
                                    else { netPriceText = "inline"; discountIcon = "inline-block"; }

                                    let img = res.data.data[i].img;                // 이미지
                                    let temp = res.data.data[i].temp;              // 보관온도
                                    let star = res.data.data[i].star;              // 별점
                                        star = Math.floor(star);                   // 소수점 버림
                                    let stars = "";
                                    if ( star == 0 ) { stars = "☆☆☆☆☆"; star = "0"; }
                                    else if ( star == 1 ) { stars = "★☆☆☆☆"; }
                                    else if ( star == 2 ) { stars = "★★☆☆☆"; }
                                    else if ( star == 3 ) { stars = "★★★☆☆"; }
                                    else if ( star == 4 ) { stars = "★★★★☆"; }
                                    else if ( star >= 5 ) { stars = "★★★★★"; star = "5"; }

                                    let bestFlag = res.data.data[i].bestFlag;      // 베스트여부
                                    if (bestFlag == "FALSE") {
                                        bestFlag = "none";
                                    } else {
                                        bestFlag = "inline-block";
                                    }

                                    let count = res.data.data[i].count;            // 재고수량

                                    let tempText;
                                    if (temp == 1) { tempText = "냉장"; }
                                    else if (temp == 2) { tempText = "냉동"; }
                                    else if (temp == 3) { tempText = "상온"; }

                                    netPrice = netPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                    salePrice = salePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                                    let li = $('<li class="life_item_wrap">').append(
                                        '<div class="item_info">' +
                                        '<span class="item_sale" style="display:'+ discountIcon +'">'+ discount +'%</span>' +
                                        '<span class="item_best" id="best_flag" style="display:'+ bestFlag +'">Best</span>' +
                                        '</div>' +
                                        `<a onclick="location.href='/user/product?prodIdx=${prodIdx}'"><img class="item_img" src = "${img}"></a>` +
                                        `<a onclick="location.href='/user/product?prodIdx=${prodIdx}'" class="item_name"> ${name} </a>` +
                                        '<div class="item_price"><span class="price_comma">'+ salePrice +'</span>원</div><del style="display:'+ netPriceText +'" `><span class="price_comma" style="display:'+ netPriceText +'">'+ netPrice +'원</span></del>' +
                                        '<div class="item_storage"><span>'+ tempText +'</span></div>' +
                                        '<div class="like_area">' +
                                        '<span class="item_star">'+ star +'점</span>' +
                                        '<div class="rating">'+ stars +'</div>' +
                                        '<a href="#">' +
                                        '<input type="hidden" value="'+prodIdx+'">'+
                                        '<button class="price_cart cartBtn_3" value="' + prodIdx + '">카트에 담기</button></a>' +
                                        '</div></li>'
                                    )
                                    ul.append(li);
                                }
                                ul.append($('</ul>'));
                                $('#goods_list_bg').append(ul);

                                let cartBtn_3 = document.querySelectorAll(".cartBtn_3");
                                for (let i=0; i<cartBtn_3.length; i++) {
                                    cartBtn_3[i].addEventListener('click', function () {
                                        let el = cartBtn_3[i].previousSibling;
                                        let proIdx = el.value;
                                        if (memIdx !== "") {
                                            axios.post('/api/basket/create', {
                                                data: {
                                                    memIdx: memIdx,
                                                    proIdx: proIdx,
                                                    proCount: 1,
                                                }
                                            }).then(function () {
                                                alert('장바구니에 등록되었습니다.');
                                                location.reload();
                                            }).catch(function (err) {
                                                console.log(err);
                                            });
                                        } else {
                                            alert("비회원입니다.")
                                            let proidx_list = [];
                                            sessionStorage.setItem("noMem", proIdx);
                                        }
                                    });
                                }

                            }).catch(function(err) {
                                console.log(err);
                            });
                        }
                    }
                });

            }).catch(function(err) {
                console.log(err)
            });
        });
    </script>
</head>
<body>
<div id="container">

    <!--header thymeleaf-->
    <div th:replace="/user/fragment/header::header"></div>

    <!-- main 시작 -->
    <main>
        <!-- 중간배너 시작 -->
        <div class="main_mid_bnr_wrap">
            <label>
                <a href="#" target="" class="main_second_bnr"><img src="/user/images/banner/main_mid_bnr_1.jpg" alt="메인 중간배너1"></a>
            </label>
        </div>
        <!-- 중간배너 끝 -->

        <!-- 비건 아이템 리스트 1 -->
        <section id="item_list_brand">
            <!-- 아이템 4단 배열 리스트 -->
            <div class="list_bg">
                <div class="list_mold">
                    <div class="category_bg">
                        <div class="category_mold">
                            <div class="ico_cate"><span class="txt" id="rootIdxName"></span></div>
                            <div class="mold">
                                <!-- ul 들어갈 자리 -->
                            </div>
                            <div class="list_ability">
                                <div class="sort_menu">
                                    <div class="select_type user_sort">
                                        <button id="filter_btn">
                                            <div class="filter_info" >필터</div>
                                            <span class="filter_btn_img"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- 세부 카테고리 시작 -->
                            <div id="filter_box" class="filter_box_wrap" style="display: none;">
                                <div class="list_filters">
                                    <div class="ckeck_filter">
                                        <input type="checkbox" class="filter_item" id="new" name="filter" value="new" onclick="checkOnlyOne(this)" checked>
                                        <span class="box">box</span>
                                        <label for="new">신상품순</label>

                                        <input type="checkbox" class="filter_item" id="rec" name="filter" value="rec" onclick="checkOnlyOne(this)">
                                        <span class="box">box</span>
                                        <label for="rec">추천순</label>

                                        <input type="checkbox" class="filter_item" id="hot" name="filter" value="hot" onclick="checkOnlyOne(this)">
                                        <span class="box">box</span>
                                        <label for="hot">인기순</label>

                                        <input type="checkbox" class="filter_item" id="low" name="filter" value="low" onclick="checkOnlyOne(this)">
                                        <span class="box" style="cursor: pointer">box</span>
                                        <label for="low">낮은 가격순</label>

                                        <input type="checkbox" class="filter_item" id="high" name="filter" value="high" onclick="checkOnlyOne(this)">
                                        <span class="box">box</span>
                                        <label for="high">높은 가격순</label>
                                    </div>
                                    <input class="filter_btn" id="filter_search" type="button" value="검색">
                                </div>
                            </div>
                            <!-- 세부 카테고리 끝 -->
                        </div>
                    </div>
                    <div id="goods_list_bg">

                    </div>
                </div>
            </div>
            <!-- 페이징 시작 -->
            <div class="pagination">
                <div class="page_first"><img src="/user/images/icon/pagination_first.png"></div>
                <div class="page_prev"><img src="/user/images/icon/pagination_prev.png"></div>
                <!-- <div class="page_num">1</div> -->
                <div class="page_next"><img src="/user/images/icon/pagination_next.png"></div>
                <div class="page_last"><img src="/user/images/icon/pagination_last.png"></div>
                <input type="hidden" value="0" class="hidden_page_num">
            </div>
            <!-- 페이징 끝 -->

        </section>
    </main>
    <!-- main 끝 -->
</div>

<script type="text/javascript" th:src="@{/user/js/index_q.js}"></script>
<script type="text/javascript" th:src="@{/user/js/index.js}"></script>
<script type="text/javascript" th:src="@{/user/js/common.js}"></script>
<div th:replace="/user/fragment/footer::footer"></div>
</body>
</html>