<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헬로네이처 - 오늘이 맛있는 탐험</title>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/mypage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/index_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/inner.css}">
    <style>
        #mypage-box {
            overflow: hidden;
            height: 100%;
        }

        .container {
            min-width: 1050px;
            margin: 0 auto;
            height: 100%;
            overflow-y: scroll;
        }

        .list li:nth-child(4) {
            background: #e2e2e2 url("/user/images/mypage.img/hover_right.png") no-repeat 174px 52%;
            background-size: 6px 11px;
            font-weight: 700;
            color: #5dab99;
        }

        .list li:nth-child(4) > a {
            color: #5dab99;
        }
    </style>
    <!-- axios -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{user/js/mypage.js/script.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/user/js/index_q.js}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

        $(function () {
            /* 더그린배송 결제수단 클릭시 결제수단 오버뷰 */
            $(".hellopass_link_payment").on("click", function () {
                $(".popup_payment_box").toggle();
            })
            $(".popup_close").on("click", function () {
                $(".popup_payment_box").css("display", "none");
            })
            /* 더그린배송 결제 개인 정보 수집 및 이용 동의 오버뷰 */
            $(".enrollpay_allow").on("click", function () {
                $(".enrollpay_allow_list2").toggle();
            })

            $(".choose_payment_box > div").click(function (event) {
                $(this).add(".choose_payment_box > div").addClass("payment_box_clicked")
                $(".choose_payment_box > div").not($(this)).removeClass("payment_box_clicked")
                event.stopPropagation();
            })
        })


        function sendit() {

            let paymentType = $("input[name='method']:checked").val();
            let addrIdx = sessionStorage.getItem("the_green");
            let memIdx = $("#hidden_user").val()
            let mpaymNum;

            if (paymentType === "1" && paymentType === "8") {
                mpaymNum = $("#hidden_real_cardNum").val()
            }else{
                mpaymNum = null;
            }

            console.log(paymentType)
            console.log(mpaymNum)
            console.log(addrIdx)
            console.log(memIdx)
            axios.post('/api/theGreen/create', {
                headers: {'Content-type': 'application/json'},
                data: {
                    paymentType: paymentType,
                    mpaymNum: mpaymNum,
                    addrIdx: addrIdx,
                    memIdx: memIdx
                }
            }).then(function () {
            }).catch(function (err) {
                console.log(err)
            })
            alert('더그린배송에 가입되었습니다.');
            location.href = '/user/mypage_thegreen'
        };


        function hello_modal_open() {
            document.getElementById("mw_temp_h").style.display = 'block';
        }

        function hello_modal_close() {
            document.getElementById("mw_temp_h").style.display = 'none';
        }

        function card_modal_open() {
            document.getElementById("mw_temp_c").style.display = 'block';
        }

        function card_modal_close() {
            document.getElementById("mw_temp_c").style.display = 'none';
        }

        function choice() {
            if ($("input[name='method']:checked").val() === "1" || $("input[name='method']:checked").val() === "7") {
                $(".hellopass_link_payment").text(($("input[name='method']:checked").siblings("label").children("div").children("span").text()) + $("#hidden_cardNum").val() + $("#hidden_bank").val());
                alert("선택이 완료되었습니다")
            } else {
                $(".hellopass_link_payment").text(($("input[name='method']:checked").siblings("label").children("div").children("span").text()));
                alert("선택이 완료되었습니다")
            }
        }


        $(function () {
            let memIdx = $("#hidden_user").val();
            axios.get('/api/card/list/' + memIdx, {}).then(function (response) {
                console.log(response.data.data)
                for (let i in response.data.data) {
                    let numList = response.data.data[i].num;
                    let bankType = response.data.data[i].bank;
                    let cardIdx = response.data.data[i].idx;
                    let name = response.data.data[i].name;
                    let baseFlag = response.data.data[i].baseFlag;
                    let busiFlag = response.data.data[i].busiFlag;

                    if (baseFlag === "TRUE") {
                        $("input[name='radio_id']").prop("checked", true)
                    }

                    let show_busiFlag;
                    if (busiFlag === "TRUE") {
                        busiFlag = "법인"
                        show_busiFlag = "block"
                    } else {
                        show_busiFlag = "none"
                    }

                    let num = numList.split("-");
                    let splitNum = num[3];
                    let lastNum = splitNum;

                    let bank;
                    switch (bankType) {
                        case "KB":
                            bank = "국민은헹";
                            break;
                        case "SINHAN":
                            bank = "신한은행";
                            break;
                        case "CITY":
                            bank = "한국씨티은행";
                            break;
                        case "IBK":
                            bank = "IBK기업은행";
                            break;
                        case "KEB":
                            bank = "KEB하나은행";
                            break;
                        case "BNK":
                            bank = "부산은행";
                            break;
                        case "SC":
                            bank = "SC제일은행";
                            break;
                        case "GWANGJU":
                            bank = "광주은행";
                            break;
                        case "WOORI":
                            bank = "우리은행";
                            break;
                    }

                    let row = $('<div class="contents_hellopay_inputcard_h">').append(
                        '<input type="hidden" class="hidden_card_num" value="' + numList + '">' +
                        '<div class="hellopay_radio_box_h"><div class="hellopay_radio_box_inner"><input type="radio" name="radio_id" id="hellopay_radio" value="' + cardIdx + '" onclick="return(false);"/>' +
                        '<label for="hellopay_radio"></label></div></div>' +
                        '<div class="hellopay_card_info"><span class="hellopay_cardname">' + name + '</span><span style="display:' + show_busiFlag + '">' + busiFlag + '</span></div>' +
                        '<div class="hellopay_card_info"><span class="hellopay_bankname">' + bank + '</span>' +
                        '<span class="hellopay_star"><i>**** **** ****</i><span> ' + lastNum + '</span></span></div></div>'
                    )
                    $("#hello_list_box").append(row);
                }

                $(".contents_hellopay_inputcard_h").click(function (e) {
                    $("#hidden_real_cardNum").val($(this).children(".hidden_card_num").val())
                    $("#hidden_cardNum").val($(this).children(".hellopay_card_info").children(".hellopay_star").text())
                    $("#hidden_bank").val($(this).children(".hellopay_card_info").children(".hellopay_bankname").text())
                    hello_modal_close();
                })

            }).catch(function (err) {
                console.log(err)
            });

            $("#card_enroll_btn").click(function () {
                let num1 = $("#card_num1").val();                   // 카드번호 4자리-1
                let num2 = $("#card_num2").val();                   // 카드번호 4자리-2
                let num3 = $("#card_num3").val();                   // 카드번호 4자리-3
                let num4 = $("#card_num4").val();                   // 카드번호 4자리-4
                const num = num1 + "-" + num2 + "-" + num3 + "-" + num4         // 1234-1234-1234-1234
                let cvc = $('#card_cvc').val();                     // 카드 cvc 3자리

                let distinctCvc = cvc.split("");
                let bank;
                let cvcFirst = distinctCvc[0]
                // cvc 첫번째 숫자로 은행 분류
                switch (cvcFirst) {
                    case "1":
                        bank = "국민은행";     // 국민은행
                        break;
                    case "2":
                        bank = "신한은행";     // 신한은행
                        break;
                    case "3":
                        bank = "한국씨티은행";     // 한국씨티은행
                        break;
                    case "4":
                        bank = "기업은행";     // 기업은행
                        break;
                    case "5":
                        bank = "하나은행";     // 하나은행
                        break;
                    case "6":
                        bank = "부산은행";     // 부산은행
                        break;
                    case "7":
                        bank = "제일은행";     // 제일은행
                        break;
                    case "8":
                        bank = "광주은행";     // 광주은행
                        break;
                    case "9":
                        bank = "우리은행";     // 우리은행
                        break;
                }

                $("#hidden_real_cardNum").val(num)
                $("#hidden_cardNum").val("**** **** **** " + num4)
                $("#hidden_bank").val(bank)
                card_modal_close();

            })
        })
    </script>
    <!-- axios -->
</head>
<body>
<div id="mypage-box">
    <div class="container">
        <div th:replace="/user/fragment/header::header"></div>
        <div class="contents">
            <div th:replace="/user/fragment/section::section"></div>
        </div>
        <div class="main">
            <!-- main_leftaside 시작 -->
            <div class="main_leftaside1">
                <div th:replace="/user/fragment/sidebar1::sidebar1"></div>
                <!-- main_leftaside 끝 -->
            </div>
            <!-- main_contents 시작 -->
            <div class="main_contents">
                <div class="contents_box1">
                    <div class="back_button">
                        <a href="javascript:history.back();" alt="뒤로 돌아가기"></a>
                    </div>
                    <h2 class="contents_name">더그린배송 결제</h2>
                </div>
                <!-- from 시작 -->
                <!--헬로페이 팝업창 부분 시작 -->
                <div id="mw_temp_h" class="mw_h">
                    <div class="bg_h"><!--이란에는 내용을 넣지 마십시오.--></div>
                    <div class="fg_h">
                        <div id="modal_title_h" class="modal_greentitle">
                            <p>헬로페이 목록<span><img src='/admin/img/close2.png'
                                                 onclick="hello_modal_close()"
                                                 class="modal_closeBtn"></span></p>
                        </div>
                        <div class="Modal_h">
                            <div class="modal_cateBox">
                                <h2 class="hello_list_title" style="margin: 30px">헬로페이 등록된 카드</h2>
                                <!--헬로페이 목록 팝업-->
                                <div id="hello_list_box"
                                     style="height: 600px; overflow-x: hidden; overflow-y: scroll;">
                                </div>
                                <!--헬로페이 목록 팝업 끝-->
                            </div>
                            <div>
                                <input type="button" value="헬로페이 추가" id="add_hello_btn"
                                       style="width: 580px; color:#5dab99; border-radius: 5px; text-align: center; cursor: pointer;
                                                           margin: 0px 30px; border: 1px solid #5dab99; background-color: white; height: 50px; font-size: 15px; font-weight: 500;"
                                       onclick="location.href='/user/mypage_enrollHellopay/'"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <!--헬로페이 팝업창 부분 끝 -->
                <!--신용카드 팝업창 부분 시작 -->
                <div id="mw_temp_c" class="mw_c">
                    <div class="bg_c"><!--이란에는 내용을 넣지 마십시오.--></div>
                    <div class="fg_c">
                        <div id="modal_title_c" class="modal_greentitle">
                            <p>신용카드 등록<span><img src='/admin/img/close2.png'
                                                 onclick="card_modal_close()"
                                                 class="modal_closeBtn"></span></p>
                        </div>
                        <div class="Modal_h">
                            <div class="modal_cateBox">
                                <!--신용카드 팝업 내용-->
                                <div id="credit_card_box" style="height: 400px; margin: 0 30px;">
                                    <div class="enrollpay_box_inner3">
                                        <h5 class="form_title">카드번호</h5>
                                        <ul class="form_area">
                                            <li><input type="password" id="card_num1"
                                                       class="enrollpay_input" maxlength="4"
                                                       autocomplete="off"></li>
                                            <li><input type="password" id="card_num2"
                                                       class="enrollpay_input" maxlength="4"
                                                       autocomplete="off"></li>
                                            <li><input type="password" id="card_num3"
                                                       class="enrollpay_input" maxlength="4"
                                                       autocomplete="off"></li>
                                            <li><input type="tel" id="card_num4" class="enrollpay_input"
                                                       maxlength="4" autocomplete="off"></li>
                                        </ul>
                                        <div class="caution_not_input">
                                            카드번호를 입력해 주세요.
                                        </div>
                                    </div>
                                    <div class="enrollpay_box_inner4">
                                        <h5 class="form_title">유효기간 (월/년)</h5>
                                        <input type="tel" placeholder="월 /년도" class="enrollpay_input"
                                               id="card_range" maxlength="5" autocomplete="off">
                                        <div class="caution_not_input">
                                            유효기간을 입력해 주세요.
                                        </div>
                                    </div>
                                    <div class="enrollpay_box_inner7">
                                        <h5 class="form_title">CVC</h5>
                                        <input type="text" placeholder="cvc 3자리" class="enrollpay_input"
                                               id="card_cvc" maxlength="3" autocomplete="off">
                                        <div class="caution_not_input">
                                            카드 뒷편 cvc번호를 확인해주세요
                                        </div>
                                    </div>
                                    <div class="enrollpay_box_inner5">
                                        <h5 class="form_title">생년월일</h5>
                                        <input type="tel" placeholder="6자리" class="enrollpay_input"
                                               id="birth_sixnum" maxlength="6" autocomplete="off">
                                        <div class="caution_not_input">
                                            생년월일을 입력해 주세요.
                                        </div>
                                    </div>
                                    <div class="enrollpay_box_inner6">
                                        <h5 class="form_title">비밀번호</h5>
                                        <input type="password" placeholder="비밀번호 앞 2자리"
                                               class="enrollpay_input" id="card_pw" maxlength="2"
                                               autocomplete="off">
                                        <div class="caution_not_input">
                                            카드 비밀번호 앞 2자리를 입력해 주세요.
                                        </div>
                                    </div>
                                </div>
                                <!--신용카드 팝업  내용끝-->
                            </div>
                            <div>
                                <input type="button" value="카드 등록" id="card_enroll_btn"
                                       style="width: 580px; color:#5dab99; border-radius: 5px; text-align: center; cursor: pointer;
                                                           margin: 0px 30px; border: 1px solid #5dab99; background-color: white; height: 50px; font-size: 15px; font-weight: 500;">
                            </div>
                        </div>
                    </div>
                </div>
                <!--신용카드 팝업창 부분 끝 -->
                <div>
                    <!-- 결제 정보 -->
                    <div class="enroll_thegreen_box1">
                        <div class="enroll_thegreen_guide">
                            <h3>결제 정보를</h3>
                            <h3>확인해주세요</h3>
                        </div>
                        <div class="show_thegreen_image">
                            <input type="button" id="thegreen_image">
                            <label for="thegreen_image"></label>
                        </div>
                    </div>
                    <!-- 결제 정보 -->
                    <!-- 결제수단 -->
                    <div class="enroll_hellopass_box2">
                        <h5>결제수단</h5>
                        <a href="#" class="hellopass_link_payment">선택해주세요.</a>
                    </div>
                    <!-- 결제수단 -->
                    <!-- 결제 수단 팝업창 -->
                    <div class="popup_payment_box">
                        <div class="popup_topline">
                            <h2>결제 수단 선택</h2>
                            <input type="hidden" id="hidden_real_cardNum">
                            <input type="hidden" id="hidden_cardNum">
                            <input type="hidden" id="hidden_bank">
                            <div class="popup_close">
                                <a href="#"></a>
                            </div>
                        </div>
                        <!-- popup_payment_form 시작 -->
                        <div class="popup_payment_form">
                            <h5>결제수단</h5>
                            <!-- choose_payment_box 시작 -->
                            <div class="choose_payment_box">
                                <!-- 헬로페이 -->
                                <div class="payment_box">
                                    <input type="radio" name="method" id="method1" class="popup_radio_hide" value="1">
                                    <label for="method1" onclick="hello_modal_open()">
                                        <img src="/user/images/mypage.img/popup/popup_hellopay.png" alt="헬로네이처 간편결제"
                                             class="popup_hellopay">
                                        <div class="payment_text_box_4words">
                                            <span class="payment_text">헬로페이</span>
                                        </div>
                                    </label>
                                </div>
                                <!-- 헬로페이 -->
                                <!-- 차이페이 -->
                                <div class="payment_box">
                                    <input type="radio" name="method" id="method2" class="popup_radio_hide" value="2">
                                    <label for="method2">
                                        <img src="/user/images/mypage.img/popup/popup_chaipay.png" alt="헬로네이처 간편결제"
                                             class="popup_chaipay">
                                        <div class="payment_text_box_4words">
                                            <span class="payment_text">차이페이</span>
                                        </div>
                                    </label>
                                </div>
                                <!-- 차이페이 -->
                                <!-- 네이버페이 -->
                                <div class="payment_box">
                                    <input type="radio" name="method" id="method3" class="popup_radio_hide" value="3">
                                    <label for="method3">
                                        <img src="/user/images/mypage.img/popup/popup_naverpay.png" alt="헬로네이처 간편결제"
                                             class="popup_naverpay">
                                        <div class="payment_text_box_5words">
                                            <span class="payment_text">네이버페이</span>
                                        </div>
                                    </label>
                                </div>
                                <!-- 네이버페이 -->
                                <!-- 페이코 -->
                                <div class="payment_box">
                                    <input type="radio" name="method" id="method4" class="popup_radio_hide" value="4">
                                    <label for="method4">
                                        <img src="/user/images/mypage.img/popup/popup_payco.png" alt="헬로네이처 간편결제"
                                             class="popup_payco">
                                        <div class="payment_text_box_3words">
                                            <span class="payment_text">페이코</span>
                                        </div>
                                    </label>
                                </div>
                                <!-- 페이코 -->
                                <!-- 삼성페이 -->
                                <div class="payment_box">
                                    <input type="radio" name="method" id="method5" class="popup_radio_hide" value="5">
                                    <label for="method5">
                                        <img src="/user/images/mypage.img/popup/popup_samsungpay.png"
                                             alt="헬로네이처 간편결제" class="popup_samsungpay">
                                        <div class="payment_text_box_4words">
                                            <span class="payment_text">삼성페이</span>
                                        </div>
                                    </label>
                                </div>
                                <!-- 삼성페이 -->
                                <!-- SK페이 -->
                                <div class="payment_box">
                                    <input type="radio" name="method" id="method6" class="popup_radio_hide" value="6">
                                    <label for="method6">
                                        <img src="/user/images/mypage.img/popup/popup_skpay.png" alt="헬로네이처 간편결제"
                                             class="popup_skpay">
                                        <div class="payment_text_box_skpay">
                                            <span class="payment_text">SK페이</span>
                                        </div>
                                    </label>
                                </div>
                                <!-- SK페이 -->
                                <!-- 신용카드 일반결제 -->
                                <div class="payment_box">
                                    <input type="radio" name="method" id="method7" class="popup_radio_hide" value="7"
                                           onclick="card_modal_open()">
                                    <label for="method7">
                                        <img src="/user/images/mypage.img/popup/popup_normal.png" alt="헬로네이처 간편결제"
                                             class="popup_normal">
                                        <div class="payment_text_box_normal">
                                            <span class="payment_text">신용카드 일반결제</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <button type="button" id="select_payment" class="button_submit" onclick="return choice()">
                                선택완료
                            </button>
                            <!-- popup_payment_form 끝 -->
                        </div>
                    </div>
                    <div class="enroll_hellopass_box3">
                        <h5>결제정보</h5>
                        <div class="hellopass_charge_price">
                            <p>총 결제 금액</p>
                            <p>5,000<span>원</span></p>
                        </div>
                        <div class="hellopass_charge_guide">
                            <p>헬로패스 결제 시 쿠폰, 헬로캐시 사용이 불가합니다.</p>
                        </div>
                    </div>
                    <!-- 개인 정보 동의 체크박스 시작 -->
                    <div class="enrollpay_allow">
                        <div class="enrollhellopay_box_check_inner">
                            <input type="checkbox" class="check_business_credit_card check_privacy"
                                   id="check_business_credit_card">
                        </div>
                        <label for="check_business_credit_card">개인 정보 수집 및 이용 동의</label>
                        <div class="allow_button">
                            <a href="#" alt="개인 정보 수집 및 이용 동의 오버뷰"></a>
                        </div>
                    </div>
                    <!-- 개인 정보 수집 체크박스 끝 -->
                    <!-- 개인 정보 수집 및 이용 동의 시작 -->
                    <div class="enrollpay_allow_list2">
                        <h5>개인 정보 수집 및 이용 동의</h5>
                        <div class="allow_contents1">
                            <p>헬로네이처는 고객님께서 구매하신 서비스 및 상품의 원활한 제공을 위해 최소한의 범위 내에서 아래와 같이 개인 정보를 수집 • 이용합니다. 고객님께서는 정보
                                제공에 동의하지 않으실 수 있으며 동의하지 않으실 경우, 일부 구매가 제한될 수 있습니다.</p>
                        </div>
                        <div class="allow_table">
                            <table>
                                <tbody>
                                <tr>
                                    <th>수집목적</th>
                                    <td>상품 배송 및 서비스 제공을 위한 사용자 정보 확인</td>
                                </tr>
                                <tr>
                                    <th>수집항목</th>
                                    <td>주문자 정보(주문자명, 주문자 연락처 등) 배송정보(수취인명/수취인 주소, 수취인 연락처 등), 결제정보(현금영수증 발행여부 등)</td>
                                </tr>
                                <tr>
                                    <th>보유기간</th>
                                    <td>5년 (계약 및 청약철회, 대금결제 및 재화 등의 공급) 또는 회원탈퇴 후 90일 까지</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 개인 정보 수집 및 이용 동의 끝 -->
                    <!-- 카드 등록 버튼 시작 -->
                    <div class="enroll_hellopass_area">
                        <button class="hellopass_button_submit" id="pay_hellopass" onclick="return sendit()">5,000원
                            결제하기
                        </button>
                    </div>
                </div>
                <!-- form 끝 -->
                <!-- 카드 등록 버튼 끝 -->
                <!-- main_contents 끝 -->
            </div>
            <!-- main 끝 -->
        </div>
        <div th:replace="/user/fragment/footer::footer"></div>
    </div>
</div>
</body>
</html>

