<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헬로네이처 - 오늘이 맛있는 탐험</title>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/mypage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/layout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/index_style.css}">
    <style>
        #mypage-box {
            overflow: hidden;
            height: 100%;
        }

        .container {
            min-width: 1050px;
            margin: 0 auto;
            height: 100%;
            overflow-y: scroll;
        }

        .list li:nth-child(2) {
            background: #e2e2e2 url("/user/images/mypage.img/hover_right.png") no-repeat 174px 52%;
            background-size: 6px 11px;
            font-weight: 700;
            color: #5dab99;
        }

        .list li:nth-child(2) > a {
            color: #5dab99;
        }

        .faq_clicked_button > input[type="button"] {
            background-color: #5dab99 !important;
            color: #fff !important;
            border: 1px solid #5dab99 !important;
        }
    </style>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<script>

    $(function () {

        let page = $("#hidden_page").val()
        $("#notice_MinPage").text(parseInt(page) + 1)
        $("#hidden_page").val($("#notice_MinPage").text());
        page = $("#hidden_page").val() - 1;

        axios.get('/api/notice/list?page=' + page, {}).then(function (response) {
            for (let i in response.data.data) {
                let idx = response.data.data[i].idx;
                let $title = response.data.data[i].title;
                let $date = response.data.data[i].regdate;

                $date = $date.toString().substring(0, 10)

                let row = $('<div class="center_link_move_box" id="center_news' + i + '">').append(
                    '<div class="center_link_txt">' +
                    '<div class="news_upload_date">' +
                    '<p id="date">' + $date + '</p></div>' +
                    '<a class="news_highlight" style="cursor: pointer"><input type="hidden" value="'+idx+'">' + $title + '</a></div>'
                )
                $('.contents_box1').after(row);
            }

            $("#notice_MaxPage").text(response.data.pagination.totalPages)
            $("#notice_MinPage").text(1)

            $(".news_highlight").click(function (){
                let idx = $(this).children("input").val()
                sessionStorage.setItem("notice_idx", idx)
                location.href="/user/mypage_newsDetail"
            })

        }).catch(function (err) {
            console.log(err)
        })

        $(".next_page").click(function () {
            if($("#notice_MinPage").text() <  $("#notice_MaxPage").text()) {
                $('.center_link_move_box').remove()
                let page = $("#hidden_page").val()
                $("#notice_MinPage").text(parseInt(page) + 1)
                $("#hidden_page").val($("#notice_MinPage").text());
                page = $("#hidden_page").val() - 1;
                console.log(page)

                axios.get('/api/notice/list?page=' + page, {}).then(function (response) {
                    console.log(response)
                    for (let i in response.data.data) {
                        let $title = response.data.data[i].title;
                        let $date = response.data.data[i].regdate;

                        $date = $date.toString().substring(0, 10)

                        let row = $('<div class="center_link_move_box" id="center_news' + i + '">').append(
                            '<div class="center_link_txt">' +
                            '<div class="news_upload_date">' +
                            '<p id="date">' + $date + '</p></div>' +
                            '<a href="/user/mypage_newsDetail" class="news_highlight">' + $title + '</a></div>'
                        )
                        $('.contents_box1').after(row);
                    }
                }).catch(function (err) {
                    console.log(err)
                })



            }else if( $("#notice_MinPage").text() >=  $("#notice_MaxPage").text()){
                alert("마지막 페이지입니다")
                return false;
            }
        })


        $(".prev_page").click(function () {
            if($("#notice_MinPage").text() > 1 ) {
                $('.center_link_move_box').remove()
                let page = $("#hidden_page").val()
                $("#notice_MinPage").text(parseInt(page) - 1)
                $("#hidden_page").val($("#notice_MinPage").text());
                page = $("#hidden_page").val() -1;
                axios.get('/api/notice/list?page=' + page, {}).then(function (response) {
                    console.log(response)
                    for (let i in response.data.data) {
                        let $title = response.data.data[i].title;
                        let $date = response.data.data[i].regdate;

                        $date = $date.toString().substring(0, 10)

                        let row = $('<div class="center_link_move_box" id="center_news' + i + '">').append(
                            '<div class="center_link_txt">' +
                            '<div class="news_upload_date">' +
                            '<p id="date">' + $date + '</p></div>' +
                            '<a href="/user/mypage_newsDetail" class="news_highlight">' + $title + '</a></div>'
                        )
                        $('.contents_box1').after(row);
                    }
                }).catch(function (err) {
                    console.log(err)
                })

            }else if( $("#notice_MinPage").text() >=  1){
                alert("마지막 페이지입니다")
                return false;
            }
        })
    });
</script>
<body>
<div id="mypage-box">
    <input type="hidden" id="hidden_page" value="0">
    <div class="container">
        <div th:replace="/user/fragment/header::header"></div>
        <div class="contents">
            <div th:replace="/user/fragment/section::section"></div>
        </div>
        <div class="main">
            <!-- main_leftaside 시작 -->
            <div class="main_leftaside2">
                <div th:replace="/user/fragment/sidebar2::sidebar2"></div>
                <!-- main_leftaside 끝 -->
            </div>
            <div class="main_contents">
                <div class="contents_box1">
                    <h2 class="contents_name">NEWS</h2>
                </div>
                <div class="center_faq_paging">
                    <ul>
                        <li class="prev_page"><a href="#">이전</a></li>
                        <li class="now_page"><span id="notice_MinPage"></span> / <span id="notice_MaxPage"></span></li>
                        <li class="next_page"><a href="#">다음</a></li>
                    </ul>
                    <!-- 페이징 끝 -->
                </div>
                <!-- main_contents 끝 -->
            </div>
            <!-- main 끝 -->
        </div>
        <div th:replace="/user/fragment/footer::footer"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:src="@{user/js/mypage.js/script.js}"></script>
<script type="text/javascript" th:src="@{/user/js/index.js}"></script>
<script type="text/javascript" th:src="@{/user/js/index_q.js}"></script>
</body>
</html>
