<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헬로네이처 - 오늘이 맛있는 탐험</title>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/inner.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/common2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/index_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/layout.css}">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        #mypage-box {
            overflow: hidden;
            height: 100%;
            overflow-y: auto;
        }

        .container {
            min-width: 1050px;
            margin: 0 auto;
            height: 100%;
        }

        .main {
            margin-bottom: 50px !important;
        }
    </style>
</head>
<script>
    function modal_open() {
        document.getElementById('mw_temp').style.display = 'block'
    }

    function modal_close(){
        document.getElementById('mw_temp').style.display = 'none'
        $('#inputPhoneNumber').val('');
        $('#inputCertifiedNumber').val('');
    }

    $(function () {
        $('#sendPhoneNumber').click(function () {
            const expHpCheck = RegExp(/^\d{3}-\d{3,4}-\d{4}$/);

            if (!expHpCheck.test($('#inputPhoneNumber').val())) {
                alert('휴대폰 번호를 형식에 맞게 입력하세요 ( -포함 )');
                $('#inputPhoneNumber').val('');
                $('#inputPhoneNumber').focus();
                return false;
            }

            let phoneNumber = $('#inputPhoneNumber').val();

            $.ajax({
                type: "GET",
                url: "/check/sendSMS",
                data: {
                    "phoneNumber": phoneNumber
                },
                success: function (res) {
                    alert("인증번호 전송 완료")

                    $('#checkBtn').click(function () {
                        if ($.trim(res) == $('#inputCertifiedNumber').val()) {
                            alert("휴대폰 인증에 성공하셨습니다.")
                            document.getElementById('mw_temp').style.display = 'none'
                            document.getElementById('emailInfo_box').style.display = 'block'
                            console.log(phoneNumber)

                            axios.get("/api/member/list?hp=" + phoneNumber, {}).then(function (response) {

                                if (response.data.data.length <= 0) {
                                    $('#find_email').css('font-size', '15px');
                                    $('.emailInfo_msg').css('display', 'none');

                                    $('#find_email').text("해당 핸드폰 번호로 가입한 이메일이 없습니다.")
                                    $('.find_pwd_btn').val("회원가입")
                                    $('.find_pwd_btn').parent("a").prop("href", "/user/mypage_userRegist");

                                    $('#inputPhoneNumber').val('');
                                    $('#inputCertifiedNumber').val('');
                                }
                                for (let i in response.data.data) {
                                    let email = response.data.data[i].email;
                                    console.log(email)
                                    $('#find_email').text(email)
                                    $('#inputPhoneNumber').val('');
                                    $('#inputCertifiedNumber').val('');
                                }
                            })
                        } else {
                            alert("휴대폰 인증에 실패하셨습니다.")
                        }
                    })
                },
                error: function (err){
                    console.log(err)
                }
            })
        });
    })
</script>
<body>
<div id="mypage-box">
    <div class="container">
        <div th:replace="/user/fragment/header::header"></div>
        <div class="main">
            <section id="content">
                <!-- 컨텐츠박스-->
                <div id="find_email_cont_box">
                    <div>
                        <div class="findInfo">
                            <h1>이메일 찾기</h1>
                        </div>
                        <div id="find_email_area">
                            <div class="findEmailForm">
                                <div id="hp_chk_box">
                                    <p class="hp_chk_msg">휴대전화 인증이 필요합니다.</p>
                                    <p>
                                        <button type="button" class="hp_chk_btn" onclick="modal_open()">휴대폰 번호 인증하기
                                        </button>
                                    </p>
                                    <!--팝업창 부분 시작 -->
                                    <div id="mw_temp" class="mw">
                                        <div class="bg"><!--이란에는 내용을 넣지 마십시오.--></div>
                                        <div class="fg">
                                            <div id="modal_title" class="modal_greentitle">
                                                <p>휴대전화 인증하기<span><img src='/admin/img/close2.png'
                                                                       onclick="modal_close()"
                                                                       class="modal_closeBtn"></span></p>
                                            </div>
                                            <div class="Modal">
                                                <div class="modal_cateBox" method="" action="#" id="modal_form">
                                                    <div class="modal_search"><span>휴대폰 번호</span><input type="text"
                                                                                                        placeholder="인증할 전화번호를 입력해주세요"
                                                                                                        id="inputPhoneNumber">
                                                        <input type="button" value="인증번호 발송" id="sendPhoneNumber"></div>
                                                    <div class="modal_list">
                                                        <span>인증번호</span>
                                                        <input type="text" placeholder="인증번호 4자리를 입력하세요"
                                                               id="inputCertifiedNumber">
                                                    </div>
                                                    <div class="modal_btn">
                                                        <button id="checkBtn">
                                                            인증하기
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--팝업창 부분 끝 -->
                                </div>
                            </div>
                            <div id="emailInfo_box" style="display: none;">
                                <p class="emailInfo_msg">등록하신 이메일 정보입니다.</p>
                                <div id="emailInfo">
                                    <p class="email_tit" name="이메일 정보" id="find_email">hellonature@naver.com</p>
                                </div>
                                <a href="/user/mypage_userLogin"><button type="button" class="find_login_btn">로그인 하기</button></a>
                                <a href="/user/mypage_findPassword"><button type="button" class="find_pwd_btn">비밀번호 찾기</button></a>
                            </div>
                        </div><!-- 본문 끝 -->
                    </div>
                </div>
            </section>
            <!-- main 끝 -->
        </div>
        <div th:replace="/user/fragment/footer::footer"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" th:src="@{user/js/mypage.js/script.js}"></script>
<script type="text/javascript" th:src="@{/user/js/index.js}"></script>
<script type="text/javascript" th:src="@{/user/js/index_q.js}"></script>
<script type="text/javascript" th:src="@{/user/js/mypage.js/popup.js}"></script>
</body>
</html>