<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헬로네이처 - 오늘이 맛있는 탐험</title>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/inner.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/mypage.css/common2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/layout.css}">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        #mypage-box {
            overflow: hidden;
            height: 100%;
            overflow-y: auto;
        }

        .container {
            min-width: 1050px;
            margin: 0 auto;
            height: 100%;
        }

        .main {
            margin-bottom: 50px !important;
        }
    </style>
</head>
<script>

    $(function () {
        axios.interceptors.request.use(function (config) {
            alert("로딩중")
            return config;
        }, function (error) {
            return Promise.reject(error);
        });
        axios.interceptors.response.use(function (response) {
            alert("로딩중")
            return response;
        }, function (error) {
            return Promise.reject(error);
        });

        $("#checkEmail").click(function () {
            let userEmail = $("#userEmail").val();
            alert("이메일 가입 여부를 확인 중입니다. \n 확인을 클릭 후 잠시만 기다려주세요")

            $.ajax({
                type: "GET",
                url: "/check/findPw",
                data: {
                    "userEmail": userEmail
                },
                success: function (res) {
                    console.log(res)
                    console.log(res['check'])
                    if (res['check']) {
                        if (res['check'] === true) {
                            $.ajax({
                                type: "POST",
                                url: "/check/findPw/sendEmail",
                                data: {
                                    "userEmail": userEmail,
                                },
                                success: function (res) {
                                    alert("이메일 전송에 성공하셨습니다")
                                    document.getElementById("sonim_babo").style.display = 'block';

                                    $("#somin_babo_btn").click(function () {
                                        if (res === $("#somin_babo2").val()) {
                                            alert("이메일 인증에 성공하셨습니다")
                                            document.getElementById("pwdInfo_box").style.display = 'block';

                                            $('#new_pwd_btn').click(function () {
                                                if ($("#new_pw").val() === $("#pw_confirm").val()) {
                                                    axios.get("/api/member/editPassword?email="+userEmail+"&password="+$("#new_pw").val(), {
                                                    }).then(function () {
                                                        alert("수정이 완료되었습니다")
                                                        location.href = "/user/mypage_userLogin"
                                                    }).catch(function (err){
                                                        console.log(err)
                                                    })
                                                } else {
                                                    alert("비밀번호 확인이 일치하지 않습니다. 다시 작성해주세요")
                                                }

                                            })
                                        } else {
                                            alert("인증번호를 한번 더 확인해주세요")
                                        }
                                    })
                                }, error: (function (err) {
                                    console.log(err)
                                })
                            })
                        }
                    } else {
                        alert("이메일 전송에 실패하였습니다. 가입 시 이메일을 정확히 입력해주세요")
                    }
                }, error: (function (err) {
                    console.log(err)
                })
            })
        })
    });
</script>
<body>
<div id="mypage-box">
    <div class="container">
        <div th:replace="/user/fragment/header::header"></div>
        <div class="main">
            <section id="content">
                <div id="find_pwd_cont_box">
                    <div class="findInfo">
                        <h1>비밀번호 찾기</h1>
                    </div>
                    <div id="find_pwd_area">
                        <div action="#" method="post" class="findPwdForm">
                            <div id="emailandhp_chk">
                                <p>본인인증을 위한 이메일을 입력해주세요</p>
                                <p><input type="email" placeholder="이메일을 입력해주세요" id="userEmail"></p>
                                <p style="display: none" id="sonim_babo">
                                    <input type="email" placeholder="인증번호를 입력해주세요" id="somin_babo2">
                                    <input type="button" id="somin_babo_btn" value="인증하기" style="cursor: pointer"></p>
                                <button type="button" class="hp_chk_btn" id="checkEmail">이메일 인증하기</button>
                            </div>
                        </div>
                        <div id="pwdInfo_box" style="display: none;">
                            <p class="pwdInfo_msg">비밀번호를 다시 설정해주세요</p>
                            <p class="new_pwd_tit">새 비밀번호</p>
                            <p><input type="password" placeholder="영문+숫자 10자 이상으로 입력해 주세요" id="new_pw"></p>
                            <p class="new_pwd_tit">새 비밀번호 확인</p>
                            <p><input type="password" placeholder="새 비밀번호를 한번 더 입력해 주세요" id="pw_confirm"></p>
                            <button type="button" id="new_pwd_btn">확인</button>
                        </div>
                    </div>
                </div>
            </section>
            <!-- main 끝 -->
        </div>
        <div th:replace="/user/fragment/footer::footer"></div>
    </div>
</div>
<script type="text/javascript" th:src="@{user/js/mypage.js/script.js}"></script>
<script type="text/javascript" th:src="@{/user/js/index.js}"></script>
<script type="text/javascript" th:src="@{/user/js/index_q.js}"></script>
</body>
</html>
